<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:400px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <img src="{% static "images/banner2.jpg" %}" width="1920" height="400"/>
		</div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
    	<div class="aboutus">
        	<p><img src="{% static "images/main65.jpg" %}" width="1200" height="70"></p><br/><br/><br/>
        	<p><span style=" color:#2c8eda; font-size:16px;">有为空间成立于2009年8月，</span><br/>
公司是指一般依法设立的，有独立的法人财产，以营利为目的的企业法人。<br/>
根据现行中国公司法（2005），其两种主要形式为有限责任公司和股份有限公司。<br/>
两类公司均为法人（民法通则36条），投资者可受到有限责任保护。<br/>
<br/>
<strong>公司者，数十商辏资营运,出则通力合作，归则计本均分，其局大而联。</strong></p>
<br/><br/>
<p class="aboutus_pic">
	<div class="aboutus_pic1">
        <img src="{% static "images/main66.jpg" %}" width="112" height="112"><br/>
        快捷高效
    </div>
    <div class="aboutus_pic1">
        <img src="{% static "images/main67.jpg" %}" width="112" height="112"><br/>
        实力雄厚
    </div>
    <div class="aboutus_pic1">
        <img src="{% static "images/main68.jpg" %}" width="112" height="112"><br/>
        勇于创新
    </div>
</p>
<br/><br/><br/>
<p><img src="{% static "images/main64.jpg" %}" width="1200" height="263"></p>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
</body>
</html>