<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_main" style=" position:relative;">
	<div class="bann_bg"></div>
    <div class="zy_banner">
    	<div class="w_1200">
        	<div class="l_ban">
            	<div class="fyxq_pic_l l_614">
                	<a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                    <div class="fy_sc">收藏 236</div>
                	<div class="bd">
                        <ul>
                            <li>
                                <a href="javascript:;" class="qa_16"><img src="{% static "images/img9.jpg" %}" width="614" height="460"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="qa_16"><img src="{% static "images/img9.jpg" %}" width="614" height="460"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="qa_16"><img src="{% static "images/img9.jpg" %}" width="614" height="460"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <script>jQuery(".fyxq_pic_l").slide({mainCell:".bd ul",autoPlay:false,mouseOverStop:false});</script>
                <div class="l_548">
                	<li>
                		<div class="xq_1" style=" color:#fff;">世界城广场 写字楼出售出租随时看房</div>
                    </li>
                    <li>
                    	<div class="xq_8"><strong>100~130</strong>/㎡/月</div>
                    </li>
                    <li>
                        <div class="xq_7">
                            在租房源：27个<br/>
                            可租面积：50-545.24m2<br/>
                            地址：东湖高新区光谷光谷步行街<br/>
                            距离地铁：距离1号线解放大路432米
                        </div>
                    </li>
                    <li style=" border-bottom:none;">
                		<div class="xq_6" style=" margin-left:0; margin-top:10px;"><a href="#">预约看房</a></div>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="w_1200">
    	<div class="fyxq_tab" style=" margin-top:20px;">
        	<div class="fyxq_hd">
            	<ul>
                	<li class="hd on"><a href="javascript:scrollTo('#tab1',-50,300)">出租房源</a></li>
                    <li class="hd"><a href="javascript:scrollTo('#tab2',-50,300)">基本信息</a></li>
                    <li class="hd"><a href="javascript:scrollTo('#tab4',-50,300)">周边配套</a></li>
                </ul>
            </div>
            <div class="fyxq_bd bd" id="tab1">
                <div class="zbpt_tit"><span>出租房源</span></div>
                <div class="listings_list_1">
                    <div class="tit_name">面积：</div>
                    <div class="bann_lsit3 m_t_0">
                        <li class="on"><a href="#">不限</a></li>
                        <li><a href="#">0-100㎡</a></li>
                        <li><a href="#">100-200㎡</a></li>
                        <li><a href="#">200-300㎡</a></li>
                        <li><a href="#">300-500㎡</a></li>
                        <li><a href="#">500-800㎡</a></li>
                        <li><a href="#">800-1000㎡</a></li>
                        <li><a href="#">1000㎡ 以上</a></li>  
                    </div>
                </div>
                <div class="listings_list_1">
                    <div class="tit_name">类型：</div>
                    <div class="bann_lsit3 m_t_0">
                        <li class="on"><a href="#">不限</a></li>
                        <li><a href="#">3-5万元/㎡-月(1)</a></li>
                        <li><a href="#">5-7万元/㎡-月(1)</a></li>
                        <li><a href="#">5-7万元/㎡-月(1)</a></li>
                        <li><a href="#">5-7万元/㎡-月(1)</a></li>
                    </div>
                </div>
                <!--20170606--修改开始-->
                <div class="xq_list">
                	<li class="l1">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><strong>全部（25套）</strong></td>
                              <td width="168" align="center">面积</td>
                              <td width="220" align="center">价钱</td>
                              <td width="374" align="center">特色</td>
                              <td width="196">&nbsp;</td>
                            </tr>
                         </table>
					</li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="#"><img src="{% static "images/main111.jpg" %}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">1000</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">130</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">该项目位于长岭居核心居住区，享长<br/>岭居+科学城千亿配套。</span></td>
                              <td width="196"><a href="#" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                </div>
                <div class="more1"><a>查看所有出租房源</a></div>
            </div>
            <script>
            	$(".more1 a").click(function(){
					$(".xq_list").css({"height":"auto"});
					$(".xq_list").slideDown();
				});
            </script>
            <!--20170606--修改结束-->
            <div class="fyxq_bd bd" id="tab2" style=" margin-top:10px;">
                <div class="zbpt_tit"><span>基本信息</span></div>
                <div class="fyxq_cont">
                    <p>东亿国际传媒产业园是北京市重点支持的文化产业项目，由北京中视东升文化传媒有限公司开发建设，占地130亩，规划建设面积近30万平方米。园区地处高碑店地区高井村，东距中国传媒
大学只有1.6公里，与中央电视台、北京电视台、凤凰卫视以及北京CBD核心区不到8公里，拥有包括办公楼、公寓楼、酒店、传媒培训基地、演播厅、传媒文化产品交易平台等功能齐全的
设备设施</p>
                    <p style=" margin-top:22px;"><span style=" float:left; width:66px; height:21px; line-height:20px; color:#fff; font-size:14px; font-weight:bold; background:#090909; text-align:center;">房源特色</span></p><br>
                    <p>该项目位于长岭居核心居住区，享长岭居+科学城千亿配套。作为万科东部第12个明星项目，出了家楼下7千㎡商业配套外，还可享1.4万㎡万科商业配套</p>
                    <p><span style=" float:left; height:1px; width:100%; border-bottom:1px dashed #cccccc; margin-top:12px;"></span></p>
                    <p style=" float:left; width:100%; margin-top:15px;"><span style=" float:left; width:66px; height:21px; line-height:20px; color:#fff; font-size:14px; font-weight:bold; background:#090909; text-align:center;">房源配套</span></p><br>
                    <p>公交总站、23号永和地铁站、麦当劳、一步跨境电商等</p>
                    <p><span style=" float:left; height:1px; width:100%; border-bottom:1px dashed #cccccc; margin-top:12px;"></span></p>
                </div>
            </div>
            <div class="zbpt bd" id="tab4">
                <div class="zbpt_tit"><span>周边配套</span></div>
                <div class="zbpt_list">
                    <li class="on"><a href="#">学校</a></li>
                    <li><a href="#">医院</a></li>
                    <li><a href="#">商场</a></li>
                    <li><a href="#">餐饮</a></li>
                    <li><a href="#">住宿</a></li>
                    <li><a href="#">公园</a></li>
                    <li><a href="#">娱乐</a></li>
                </div>
                <div id="bdmap1">加载中...</div>
            </div>
       	</div>    
    	<div class="fjfyzs"><span>附近房源展示</span></div>
    	<div class="tab_list_one tab_list_two">
            <ul>
                <li class=""><a href="#">
                    <div class="tab_pic"><img src="{% static "images/main9.jpg" %}" width="100%" alt=""></div>
                    <div class="tab_pf2">
                        <h1>中心五牛大厦</h1>
                        <p>浦东大道1101号-1205号</p>
                        <h2><span>待租房源：14个</span><time>210</time></h2>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="tab_pic"><img src="{% static "images/main10.jpg" %}" width="100%" alt=""></div>
                    <div class="tab_pf2">
                        <h1>中心五牛大厦</h1>
                        <p>浦东大道1101号-1205号</p>
                        <h2><span>待租房源：14个</span><time>210</time></h2>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="tab_pic"><img src="{% static "images/main9.jpg" %}" width="100%" alt=""></div>
                    <div class="tab_pf2">
                        <h1>中心五牛大厦</h1>
                        <p>浦东大道1101号-1205号</p>
                        <h2><span>待租房源：14个</span><time>210</time></h2>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="tab_pic"><img src="{% static "images/main10.jpg" %}" width="100%" alt=""></div>
                    <div class="tab_pf2">
                        <h1>中心五牛大厦</h1>
                        <p>浦东大道1101号-1205号</p>
                        <h2><span>待租房源：14个</span><time>210</time></h2>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
<!--弹窗-->
<!--20170606--修改开始-->
<!--弹窗-->
<div class="q_tan" id="q_tan_1">
	<div class="q_bg"></div>
	<div class="q_tan_1">
		<div class="q_tan_2">
			<span>世界城广场</span>
			<a href="javascript:;"><img src="{% static "images/q_img_tan_7.png" %}" /></a>
		</div>
		<div id="slide">
			<div class="gallery">
				<ul class="items">
					<li><img src="{% static "images/q_img_tan_1.jpg" %}" width="100%" alt="" /></li>
					<li><img src="{% static "images/q_img_tan_2.jpg" %}" width="100%" alt="" /></li>
					<li><img src="{% static "images/q_img_tan_3.jpg" %}" width="100%" alt="" /></li>
					<li><img src="{% static "images/q_img_tan_1.jpg" %}" width="100%" alt="" /></li>
					<li><img src="{% static "images/q_img_tan_2.jpg" %}" width="100%" alt="" /></li>
					<li><img src="{% static "images/q_img_tan_3.jpg" %}" width="100%" alt="" /></li>
					<li><img src="{% static "images/q_img_tan_1.jpg" %}" width="100%" alt="" /></li>
					<li><img src="{% static "images/q_img_tan_2.jpg" %}" width="100%" alt="" /></li>
				</ul>
			</div>
			<a class="sprev"></a>
            <a class="snext"></a>
		</div>
		<!-- slider end -->
		<div class="pag">
			<div class="img-pags">
				<ul>
					<li><a href="#"><span><img src="{% static "images/q_img_tan_8.jpg" %}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="{% static "images/q_img_tan_9.jpg" %}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="{% static "images/q_img_tan_10.jpg" %}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="{% static "images/q_img_tan_8.jpg" %}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="{% static "images/q_img_tan_9.jpg" %}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="{% static "images/q_img_tan_10.jpg" %}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="{% static "images/q_img_tan_8.jpg" %}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="{% static "images/q_img_tan_9.jpg" %}" alt="" /></span></a></li>
				</ul>
			</div>
			<a href="#" class="button button1" data-type="prevPage"></a> <a href="#" class="button button2" data-type="nextPage"></a>
		</div>
	</div>
</div>
<!--弹窗end-->
<!--20170606--修改结束-->
<!--弹窗end-->
<script>
$(document).ready(function(){
	$('.right_78 .t_76').on('mouseenter',function(){
		$(this).children('.pf_269').stop().animate({
			width:'198px',
			left:'-200px'
			})
		
	})
	$('.right_78 .t_76').on('mouseleave',function(){
		$(this).children('.pf_269').stop().animate({
			width:'0px',
			left:'0'
			})
		
	})
	$(".right_78 .renter").on("click", function () {
		$('body,html').animate({ scrollTop: 0 });
	})		

})
</script>
<script type="text/javascript" src="{% static "js/maodian.0.2.js" %}"></script>

<script>
	
  $(function(){
	$(window).scroll(function(){
	  var ht = $(".pz_top").height() + $(".zy_banner").height() + 20;	
	  if($(window).scrollTop()> ht ){
		  $(".fyxq_hd").addClass("fyxq_hd1");
		  $(".fyxq_hd1").removeClass("fyxq_hd");
	  }else{
		  $(".fyxq_hd1").addClass("fyxq_hd");
		  $(".fyxq_hd").removeClass("fyxq_hd1");
	  };
   });
  });
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=0jz7CuaQAxFkoH7XumKlrhk3"></script>
<script>
	maodian('.hd', '.bd', 500);
</script>
<script>
	//创建百度地图实例（底图不可点选）
	var oMap = new BMap.Map("bdmap1", { enableMapClick: false }); //JSON
	//创建中心点坐标
	var oPoint = new BMap.Point(117.11803,40.146526);
	//初始化地图,设置中心点和地图级别
	oMap.centerAndZoom(oPoint, 18);
	//创建地图标注
	//var marker = new BMap.Marker(oPoint, { title: '', icon: new BMap.Icon('', new BMap.Size(40, 40), { anchor: new BMap.Size(27, 70) }) });
	//给标注绑定事件
	marker.addEventListener('click', function () {
		//alert('我被点击了，好难过！！！');
		openInfoWindow();
	})
	////将标注插入地图
	oMap.addOverlay(marker);
	////设置标注动画效果。如果参数为null，则取消动画效果。该方法需要在addOverlay方法后设置
	marker.setAnimation(BMAP_ANIMATION_BOUNCE);
	//设置地图风格（http://developer.baidu.com/map/custom/list.htm）
	oMap.setMapStyle({ style: 'normal' });
	//创建文字标注
	
	//将标注插入地图
	oMap.addOverlay(label);
</script>

<script type="text/javascript" src="{% static "js/uCarousel.js" %}"></script>
<script type="text/javascript" src="{% static "js/tms-0.4.1.js" %}" ></script>

<script type="text/javascript" src="{% static "js/swiper.min.js" %}"></script>
<script>
$('.qa_16').click(function(){
	$('#q_tan_1').css({'z-index':5999}).animate({'opacity':1});
	slide_int();

});
$('.qa_16_1').click(function(){
	$('#q_tan_2').css({'z-index':5999}).animate({'opacity':1});
	slide_int();
});
$('.q_tan_2 a').click(function(){
	$(this).parent().parent().parent().css({'z-index':-1}).animate({'opacity':0})
})
$(document).ready(function(){
	$('.gallery')._TMS({
		show:0,
		pauseOnHover:false,
		prevBu:'.sprev',
		nextBu:'.snext',
		duration:500,
		pagination:$('.img-pags').uCarousel({show:5,shift:0}),
		pagNums:false,
		slideshow:3000,
		numStatus:false,
		waitBannerAnimation:false,
	});
});
<!--20170606--修改开始-->
$(".q_bg").click(function(){
	$("#q_tan_1").fadeOut();
});
<!--20170606--修改结束-->
</script>
</body>
</html>