<!DOCTYPE html>
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
    {% load pagination_tags %}
    {% autopaginate buildinglist 8 %}
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
    <style>
        #clickD{
            color: #2c8eda;
        }
    </style>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:340px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <img src="{% static "images/banner1.jpg" %}" width="1920" height="340"/>
		</div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
    	<div class="listings_tit"><a href="#">首页</a> - <a href="#" class="on">热门写字楼</a></div>
    	<div class="listings_list">
        	<div class="listings_list_1">
            	<div class="tit_name">类型：</div>
           		<div class="bann_lsit3 m_t_0">
                    {% if type == None %}
                        <li class="on"><a href="/frontsite/buildinglist/{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}">不限</a></li>
                    {% else %}
                        <li><a href="/frontsite/buildinglist/{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}">不限</a></li>
                    {% endif %}
                    {% for sourcetype in sourceTypeList %}
                        {% if sourcetype.id == type %}
                            <li class="on"><a href="/frontsite/buildinglist/t{{ sourcetype.id }}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}">{{ sourcetype.source_type_name }}</a></li>
                        {% else %}
                            <li><a href="/frontsite/buildinglist/t{{ sourcetype.id }}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}">{{ sourcetype.source_type_name }}</a></li>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
            <div class="listings_list_1">
            	<div class="tit_name">区域：</div>
           		<div class="bann_lsit1 m_t_2">
                    {% if country == None %}
                        <li class="on"><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}">不限</a></li>
                    {% else %}
                        <li><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}">不限</a></li>
                    {% endif %}

                    {% for area in areaList %}
                        {% if area.id == country %}
                            <li class="on"><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}c{{ area.id }}{% if district != None %}d{{ district }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}">{{ area.country_name }}</a></li>
                        {% else %}
                            <li><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}c{{ area.id }}{% if district != None %}d{{ district }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}">{{ area.country_name }}</a></li>
                        {% endif %}
                    {% endfor %}

                </div>
            {% if country != None %}
                <div class="bann_lsit2 m_t_1">
                    {% for d in districtList %}
                        {% if d.district_firstChar == '' %}
                            <a {% if d.id == district %}id="clickD"{% endif %} href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}d{{ d.id }}{% if areanum != None %}a{{ areanum }}{% endif %}">{{ d.district_name }}</a>
                        {% else %}
                            {% if forloop.counter0 == 0 %}
                                <span><strong>{{ d.district_firstChar }}</strong><a {% if d.id == district %}id="clickD"{% endif %} href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}d{{ d.id }}{% if areanum != None %}a{{ areanum }}{% endif %}">{{ d.district_name }}
                            {% else %}
                                </a></span>|<span><strong>{{ d.district_firstChar }}</strong><a {% if d.id == district %}id="clickD"{% endif %} href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}d{{ d.id }}{% if areanum != None %}a{{ areanum }}{% endif %}">{{ d.district_name }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            </div>
        	<div class="listings_list_1">
            	<div class="tit_name">面积：</div>
           		<div class="bann_lsit3 m_t_0">
                    <li {% if areanum == None %}class="on"{% endif %}><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}">不限</a></li>
                    <li {% if areanum == 1 %}class="on"{% endif %}><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}a1">0-100㎡</a></li>
                    <li {% if areanum == 2 %}class="on"{% endif %}><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}a2">100-200㎡</a></li>
                    <li {% if areanum == 3 %}class="on"{% endif %}><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}a3">200-300㎡</a></li>
                    <li {% if areanum == 4 %}class="on"{% endif %}><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}a4">300-500㎡</a></li>
                    <li {% if areanum == 5 %}class="on"{% endif %}><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}a5">500-800㎡</a></li>
                    <li {% if areanum == 6 %}class="on"{% endif %}><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}a6">800-1000㎡</a></li>
                    <li {% if areanum == 7 %}class="on"{% endif %}><a href="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}a7">1000㎡ 以上</a></li>
                </div>
            </div>
        	<div class="listings_list_2">
            	<div class="Map_search Map_search1"><a href="#">地图搜索</a></div>
            	<div class="so so1">
                    <input type="text" class="Search" id="searchText" placeholder="" value="{% if search != None %}{{ search }} {% endif %}">
                    <input type="button" id="seachButton" value="开始搜索" class="sear_sub">
                </div>
            </div>
        </div>
    	<div class="listings">
        	<ul>
                {% for building in buildinglist %}
                    <li>
                        <div class="pic_270"><a href="/frontsite/building/{{ building.id }}"><img src="/{{ building.image1 }}" width="270" height="202"></a></div>
                        <div class="text_508">
                            <h1><a href="/frontsite/building/{{ building.id }}">{{ building.title }}</a></h1>
                            <h2>
                                <span class="ico1">{{ building.area_type.country_name }}-{{ building.district_type.district_name }}-{{ building.address }}</span>
                                <span class="ico2">{{ building.rent_count }}套房源符合条件</span>
                            </h2>
                            <h3 class="rent_area" title="{{ building.rent_area }}">
                                <!--
                                <a href="#">100㎡</a>
                                <a href="#">180㎡</a>
                                <a href="#">250㎡</a>
                                <a href="#">1000㎡</a>
                                -->
                            </h3>
                        </div>
                        <div class="text_380">
                            <h1><strong>{{ building.rent_min_price }}~{{ building.rent_max_price }} </strong>/㎡/月</h1>
                            <h2><a href="/frontsite/building/{{ building.id }}">马上预约看房</a></h2>
                        </div>
                    </li>
                {% endfor %}
                {% if buildinglist|length == 0 %}
                    <li style="color:#898989;font-size: 24px;text-align: center;border: hidden;margin-top: 50px;"><p>没有找到相关内容，请您换个条件试试吧~</p></li>
                {% endif %}
            </ul>
        </div>
    	<div class="wack1">
            {% paginate using "frontsite/pagination.html" %}
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
<script>
    $(".rent_area").each(function(){
        var value=$(this).attr("title");
        var arr=value.split(",");
        var html="";
        for(var i in arr){
            if(arr[i]!=''){
                html=html+"<a href='javascript:void(0)'>"+arr[i]+"㎡</a>";
            }
        }
        $(this).html(html)
    })
    $("#seachButton").click(function(){
        var searchText=$("#searchText").val().trim();
        var url="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}s"+searchText;
        window.location.href=url;
    })
    $('#searchText').keydown(function(e){
        if(e.keyCode==13){
          var searchText=$("#searchText").val().trim();
            var url="/frontsite/buildinglist/{% if type != None %}t{{ type }}{% endif %}{% if country != None %}c{{ country }}{% endif %}{% if district != None %}d{{ district }}{% endif %}{% if areanum != None %}a{{ areanum }}{% endif %}s"+searchText;
            window.location.href=url;
        }
    });
</script>
</body>
</html>