<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/viewer.min.css" %}">
    <script type="text/javascript" src="{% static "js/viewer.min.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_main" style=" position:relative;">
	<div class="bann_bg"></div>
    <div class="zy_banner">
    	<div class="w_1200">
        	<div class="l_ban">
            	<div class="fyxq_pic_l l_614">
                	<a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                    <div class="fy_sc">收藏 236</div>
                	<div class="bd">
                        <ul id="dowebok">
                            <li><a href="javascript:;" class="qa_16"><img src="/{{ building.image1 }}" width="614" height="460"></a></li>
                            <li><a href="javascript:;" class="qa_16"><img src="/{{ building.image2 }}" width="614" height="460"></a></li>
                            <li><a href="javascript:;" class="qa_16"><img src="/{{ building.image3 }}" width="614" height="460"></a></li>
                            <li><a href="javascript:;" class="qa_16"><img src="/{{ building.image4 }}" width="614" height="460"></a></li>
                            <li><a href="javascript:;" class="qa_16"><img src="/{{ building.image5 }}" width="614" height="460"></a></li>
                            <li><a href="javascript:;" class="qa_16"><img src="/{{ building.image6 }}" width="614" height="460"></a></li>

                        </ul>
                    </div>
                </div>
                <script>jQuery(".fyxq_pic_l").slide({mainCell:".bd ul",autoPlay:false,mouseOverStop:false});</script>
                <div class="l_548">
                	<li>
                		<div class="xq_1" style=" color:#fff;">{{ building.title }}</div>
                    </li>
                    <li>
                    	<div class="xq_8"><strong>{{ building.rent_min_price }}~{{ building.rent_max_price }}</strong>/㎡/月</div>
                    </li>
                    <li>
                        <div class="xq_7">
                            在租房源：{{ building.rent_count }}个<br/>
                            可租面积：{{ building.rent_min_area }}-{{ building.rent_max_area }}m2<br/>
                            地址：{{ building.address }}<br/>
                            距离地铁：{{ building.transport }}
                        </div>
                    </li>
                    <li style=" border-bottom:none;">
                        {% if request.session.login %}
                            <form action="{{ request.path  }}" method="post" id="form">
                                {% csrf_token %}
                            </form>
                            {% if isAppoint == 'true' %}
                                <div class="xq_6" style=" margin-left:0; margin-top:10px;"><a href="javascript:void(0)">已预约</a></div>
                            {% else %}
                                <div class="xq_6" style=" margin-left:0; margin-top:10px;"><a href="javascript:submitForm()">预约看房</a></div>
                            {% endif %}

                        {% else %}
                            <div class="xq_6" style=" margin-left:0; margin-top:10px;"><a href="/frontsite/login/?returnUrl={{ request.path }}">预约看房</a></div>
                        {% endif %}
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="w_1200">
    	<div class="fyxq_tab" style=" margin-top:20px;">
        	<div class="fyxq_hd">
            	<ul>
                	<li class="hd on"><a href="javascript:scrollTo('#tab1',-50,300)">出租房源</a></li>
                    <li class="hd"><a href="javascript:scrollTo('#tab2',-50,300)">基本信息</a></li>
                    <li class="hd"><a href="javascript:scrollTo('#tab4',-50,300)">周边配套</a></li>
                </ul>
            </div>
            <div class="fyxq_bd bd" id="tab1">
                <div class="zbpt_tit"><span>出租房源</span></div>
            <!--
                <div class="listings_list_1">
                    <div class="tit_name">面积：</div>
                    <div class="bann_lsit3 m_t_0">
                        <li class="on"><a href="#">不限</a></li>
                        <li><a href="#">0-100㎡</a></li>
                        <li><a href="#">100-200㎡</a></li>
                        <li><a href="#">200-300㎡</a></li>
                        <li><a href="#">300-500㎡</a></li>
                        <li><a href="#">500-800㎡</a></li>
                        <li><a href="#">800-1000㎡</a></li>
                        <li><a href="#">1000㎡ 以上</a></li>  
                    </div>
                </div>
                <div class="listings_list_1">
                    <div class="tit_name">类型：</div>
                    <div class="bann_lsit3 m_t_0">
                        <li class="on"><a href="#">不限</a></li>
                        <li><a href="#">3-5万元/㎡-月(1)</a></li>
                        <li><a href="#">5-7万元/㎡-月(1)</a></li>
                        <li><a href="#">5-7万元/㎡-月(1)</a></li>
                        <li><a href="#">5-7万元/㎡-月(1)</a></li>
                    </div>
                </div>
                -->
                <!--20170606--修改开始-->
                <div class="xq_list" style="height: auto;">
                	<li class="l1">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><strong>全部（{{ officelist|length }}套）</strong></td>
                              <td width="168" align="center">面积</td>
                              <td width="220" align="center">价钱</td>
                              <td width="374" align="center">特色</td>
                              <td width="196">&nbsp;</td>
                            </tr>
                         </table>
					</li>
                    {% for office in officelist %}
                    <li class="l2">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="162"><a href="/frontsite/office/{{ office.id }}"><img src="/{{ office.image1 }}" width="140" height="104"></a></td>
                              <td width="168" align="center" style=" color:#333333;"><span class="l2_1">{{ office.areaNum }}</span>㎡</td>
                              <td width="220" align="center" style=" color:#666666;"><span class="l2_2"><strong style=" color:#000000;">{{ office.rent_price }}</strong> /㎡/月万</span></td>
                              <td width="374"><span class="l2_3">{{ office.title }}</span></td>
                              <td width="196"><a href="/frontsite/office/{{ office.id }}" class="more2">查看详情</a></td>
                            </tr>
                         </table>
                    </li>
                    {% endfor %}

                </div>
                {% if officelist|length > 5 %}
                    <div class="more1"><a>查看所有出租房源</a></div>
                {% else %}
                    <div class="more1"><a>已加载全部</a></div>
                {% endif %}

            </div>
            <script>
            	$(".more1 a").click(function(){
					$(".xq_list").css({"height":"auto"});
					$(".xq_list").slideDown();
				});
            </script>
            <!--20170606--修改结束-->
            <div class="fyxq_bd bd" id="tab2" style=" margin-top:10px;">
                <div class="zbpt_tit"><span>基本信息</span></div>
                <div class="fyxq_cont">
                    <p>{{ building.information }}</p>
                    <p style=" margin-top:22px;"><span style=" float:left; width:66px; height:21px; line-height:20px; color:#fff; font-size:14px; font-weight:bold; background:#090909; text-align:center;">房源特色</span></p><br>
                    <p>{{ building.information_special }}</p>
                    <p><span style=" float:left; height:1px; width:100%; border-bottom:1px dashed #cccccc; margin-top:12px;"></span></p>
                    <p style=" float:left; width:100%; margin-top:15px;"><span style=" float:left; width:66px; height:21px; line-height:20px; color:#fff; font-size:14px; font-weight:bold; background:#090909; text-align:center;">房源配套</span></p><br>
                    <p>{{ building.information_match }}</p>
                    <p><span style=" float:left; height:1px; width:100%; border-bottom:1px dashed #cccccc; margin-top:12px;"></span></p>
                </div>
            </div>
            <div class="zbpt bd" id="tab4">
                <div class="zbpt_tit"><span>周边配套</span></div>
                <div class="zbpt_list">
                    <li id="m1" class="on"><a href="javascript:schoolSearch({{ building.location }})">学校</a></li>
                    <li id="m2"><a href="javascript:hospitalSearch({{ building.location }})">医院</a></li>
                    <li id="m3"><a href="javascript:shopSearch({{ building.location }})">商场</a></li>
                    <li id="m4"><a href="javascript:repastSearch({{ building.location }})">餐饮</a></li>
                    <li id="m5"><a href="javascript:rentSearch({{ building.location }})">住宿</a></li>
                    <li id="m6"><a href="javascript:gardenSearch({{ building.location }})">公园</a></li>
                    <li id="m7"><a href="javascript:ktvSearch({{ building.location }})">娱乐</a></li>
                </div>
                <div id="bdmap1">加载中...</div>
            </div>
       	</div>

    	<div class="fjfyzs"><span>附近房源展示</span></div>
    	<div class="tab_list_one tab_list_two">
            <ul>
                {% for building in buildinglist %}
                    <li class=""><a href="/frontsite/building/{{ building.id }}">
                        <div class="tab_pic"><img src="/{{ building.image1 }}" width="100%" alt=""></div>
                        <div class="tab_pf2">
                            <h1>{{ building.title }}</h1>
                            <p>{{ building.address }}</p>
                            <h2><span>待租房源：{{ building.rent_count }}个</span><time>210</time></h2>
                        </div>
                    </a></li>
                {% endfor %}

            </ul>
        </div>

        <br/>
    </div>
</div>
{% include "frontsite/foot.html" %}
<!--弹窗-->
<!--20170606--修改开始-->
<!--弹窗-->
<!--
<div class="q_tan" id="q_tan_1">
	<div class="q_bg"></div>
	<div class="q_tan_1">
		<div class="q_tan_2">
			<span>世界城广场</span>
			<a href="javascript:;"><img src="{% static "images/q_img_tan_7.png" %}" /></a>
		</div>
		<div id="slide">
			<div class="gallery">
				<ul class="items">
					<li><img src="/{{ building.image1 }}" width="100%" alt="" /></li>
					<li><img src="/{{ building.image2 }}" width="100%" alt="" /></li>
					<li><img src="/{{ building.image3 }}" width="100%" alt="" /></li>
					<li><img src="/{{ building.image4 }}" width="100%" alt="" /></li>
					<li><img src="/{{ building.image5 }}" width="100%" alt="" /></li>
					<li><img src="/{{ building.image6 }}" width="100%" alt="" /></li>
				</ul>
			</div>
			<a class="sprev"></a>
            <a class="snext"></a>
		</div>

		<div class="pag">
			<div class="img-pags">
				<ul>
					<li><a href="#"><span><img src="/{{ building.image1 }}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="/{{ building.image2 }}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="/{{ building.image3 }}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="/{{ building.image4 }}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="/{{ building.image5 }}" alt="" /></span></a></li>
					<li><a href="#"><span><img src="/{{ building.image6 }}" alt="" /></span></a></li>
				</ul>
			</div>
			<a href="#" class="button button1" data-type="prevPage"></a> <a href="#" class="button button2" data-type="nextPage"></a>
		</div>
	</div>
</div>
-->
<!--弹窗end-->
<!--20170606--修改结束-->
<!--弹窗end-->
<script>
$(document).ready(function(){
   // var viewer = new Viewer(document.getElementById('dowebok'));
	$('.right_78 .t_76').on('mouseenter',function(){
		$(this).children('.pf_269').stop().animate({
			width:'198px',
			left:'-200px'
			})
		
	})
	$('.right_78 .t_76').on('mouseleave',function(){
		$(this).children('.pf_269').stop().animate({
			width:'0px',
			left:'0'
			})
		
	})
	$(".right_78 .renter").on("click", function () {
		$('body,html').animate({ scrollTop: 0 });
	})		

})
</script>
<script type="text/javascript" src="{% static "js/maodian.0.2.js" %}"></script>

<script>
	
  $(function(){
	$(window).scroll(function(){
	  var ht = $(".pz_top").height() + $(".zy_banner").height() + 20;	
	  if($(window).scrollTop()> ht ){
		  $(".fyxq_hd").addClass("fyxq_hd1");
		  $(".fyxq_hd1").removeClass("fyxq_hd");
	  }else{
		  $(".fyxq_hd1").addClass("fyxq_hd");
		  $(".fyxq_hd").removeClass("fyxq_hd1");
	  };
   });
  });
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=0jz7CuaQAxFkoH7XumKlrhk3"></script>
<script type="text/javascript" src="{% static "frontsite/baidumap.js" %}"></script>
<script>
	maodian('.hd', '.bd', 500);
</script>
<script>
    schoolSearch({{ building.location }})

</script>

<script type="text/javascript" src="{% static "js/uCarousel.js" %}"></script>
<script type="text/javascript" src="{% static "js/tms-0.4.1.js" %}" ></script>

<script type="text/javascript" src="{% static "js/swiper.min.js" %}"></script>
<script>
    function submitForm(){
        $("#form").submit()
    }
    var appoint="{{ appoint }}"
    if(appoint!=""){
         $('#messageBox').dialogBox({
						hasClose: true,
						hasMask: true,
                        autoHide: true,
						time: 3000,
						title: '温馨提示',
						content: '预约成功，我们将会尽快为您处理'
					});
    }
</script>
</body>
</html>