<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/pzselect.1.0.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_main" style=" position:relative;">
	<div class="bann_bg"></div>
    <div class="w_1200">
    	<div class="listings_tit"><a href="#">首页</a> - <a href="#" class="on">个人中心</a></div>
    	<div class="member">
        	{% include "frontsite/personalNav.html" %}
            <div class="r_799">
                <div class="t_798">
                    <div class="l_jf ico3">我的企业</div>
                    <div class="r_tc"><a href="#">退出登录</a></div>
                </div>
                <div class="Mybusiness">
                	<ul>
                    	<li class="l1"><a>
                        	<img src="{% static "images/main61.png" %}" width="30" height="28">
                            <span>注册商户</span>
                        </a></li>
                        <li class="l2"><a>
                        	<img src="{% static "images/main62.png" %}" width="30" height="28">
                            <span>申请成为合作商</span>
                        </a></li>
                        <li class="l3"><a>
                        	<img src="{% static "images/main63.png" %}" width="30" height="28">
                            <span>付费上架</span>
                        </a></li>
                    </ul>
                </div>
                <div class="Availability Availability_three">
                	<form>
                    	<label>
                        	<div class="fm_name1"><span>*</span>营业执照</div>
                            <div class="fm_input1 fm_input4">
                            	<div class="fm_input1_1" style=" margin-bottom:0;">
                            		<input class="fm11" type="text" id="showvalue">
                                    <a href="#" style=" position:relative;">浏览<input style="position: absolute; width:28px; height:21px;font-size:0;right: 0;top: 12px;opacity: 0;filter: alpha(opacity=0); cursor:pointer;" type="file" onchange="_change(this)"></a>
                                </div>
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>法人证件</div>
                            <div class="fm_input1 fm_input4">	
                            	<!-- 20170606修改开始-->
                            	<div class="fm_input1_1" style=" margin-bottom:0;">
                            		<input class="fm11" type="text" id="showvalue1">
                                    <a href="#" style=" position:relative;">浏览<input style="position: absolute; width:28px; height:21px;font-size:0;right: 0;top: 12px;opacity: 0;filter: alpha(opacity=0); cursor:pointer;" type="file" onchange="_change1(this)"></a>
                                </div>
                                <!-- 20170606修改结束-->
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>对接人电话</div>
                            <div class="fm_input1 fm_input4">	
                            	<input placeholder="" class="fm11" type="text">
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>主要服务内容</div>
                            <div class="fm_input1 fm_input4">	
                            	<textarea type="text" placeholder="" class="fm15"></textarea>
                            </div>
                        </label>
                        <label>
                        	<input value="提交申请" class="fm10" type="button" style=" margin-left:183px;">
                        </label>
                    </form>
                </div>
                <!-- 20170606修改开始-->
                <script>
					function _change(_files){
						document.getElementById('showvalue').value = _files.value;
					}
					function _change1(_files){
						document.getElementById('showvalue1').value = _files.value;
					}
				</script>
                <!-- 20170606修改结束-->
            </div>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
<script>
        jQuery("#h5").addClass("on");
        jQuery("#h52").addClass("on");
					jQuery(".sideMen").slide({titCell:".l1", targetCell:".l2",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click"});
				</script>
</body>
</html>