 {% load static %}
<div class="pz_down">
	<div class="back4">
    	<div class="w_1200">
        	<div class="d_nav">
            	<div class="l_170">
                	<li class="l1"><a href="#">快速导航</a></li>
                    <li class="l2"><a href="#">选址</a></li>
                    <li class="l2"><a href="#">商务服务</a></li>
                    <li class="l2"><a href="#">个人中心</a></li>
                    <li class="l2"><a href="#">关于我们</a></li>
                    <li class="l2"><a href="#">联系我们</a></li>
                    <li class="l2"><a href="#">招贤纳士</a></li>
                </div>
                <div class="l_170">
                	<li class="l1"><a href="#">快速租房</a></li>
                    <li class="l2"><a href="#">写字楼</a></li>
                    <li class="l2"><a href="#">商铺</a></li>
                    <li class="l2"><a href="#">住宅</a></li>
                </div>
                <div class="l_170">
                	<li class="l1"><a href="#">联系我们</a></li>
                    <li class="l3">000-000-0000</li>
                    <li class="l4"><a href="#">客服中心</a></li>
                </div>
            </div>
            <div class="er_box">
            	<div class="er_92"><img src="{% static "images/er1.png" %}" width="92" height="92"></div>
                <div class="er_142">
                	<h1>码上有惊喜!</h1>
                    <p>扫描二维码<br/>更多精彩尽在手中</p>
                </div>
            </div>
        </div>
    </div>
    <div class="back5">
    	<div class="w_1200">
        	<div class="bq">Copyright © 2017-2017  有为空间  版权所有 某ICP备8888888号&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">法律声明</a></div>
            <div class="share">
            	<div class="fx">
                    <a href="#" class="wb"></a>
                </div>
                <div class="fx">
                    <a href="#" class="wx"></a>
                    <div class="er_img"><img src="{% static "images/er.png" %}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧漂浮-->
<div class="right_78">
	<div class="t_76">
    	<div class="img_42"><a href="#" class="bg1"></a></div>
        <div class="tit_76"><a href="#">委托选址</a></div>
	</div>
    <div class="t_76">
    	<div class="img_42"><a href="#" class="bg2"></a></div>
        <div class="tit_76"><a href="#">房源投放</a></div>
	</div>
    <div class="t_76">
    	<div class="img_42"><a class="bg3"></a></div>
        <div class="tit_76"><a>在线服务</a></div>
        <div class="pf_269" style="width: 0px; overflow: hidden; left: 0px;"><span class="text">在线服务：000-000-0000</span></div>
   </div>
    <div class="t_76">
    	<div class="img_42"><a class="bg4"></a></div>
        <div class="tit_76"><a>电话客服</a></div>
        <div class="pf_269" style="width: 0px; overflow: hidden; left: 0px;"><span class="text">电话客服：000-000-0000</span></div>
	</div>
    <div class="t_76 renter">
    	<div class="img_42"><a class="bg5"></a></div>
        <div class="tit_76"><a>回到顶部</a></div>
    </div>
</div>
<script>
$(document).ready(function(){
	$('.right_78 .t_76').on('mouseenter',function(){
		$(this).children('.pf_269').stop().animate({
			width:'198px',
			left:'-200px'
			})

	})
	$('.right_78 .t_76').on('mouseleave',function(){
		$(this).children('.pf_269').stop().animate({
			width:'0px',
			left:'0'
			})

	})
	$(".right_78 .renter").on("click", function () {
		$('body,html').animate({ scrollTop: 0 });
	})

})
</script>