 {% load static %}
  <div id="messageBox"></div>
<div class="pz_down">
	<div class="back4">
    	<div class="w_1200">
        	<div class="d_nav">
            	<div class="l_170">
                	<li class="l1"><a href="javascript:void(0)">快速导航</a></li>
                    <li class="l2"><a href="/frontsite/buildinglist">选址</a></li>
                    <li class="l2"><a href="/frontsite/services">商务服务</a></li>
                    <li class="l2"><a href="/frontsite/personal">个人中心</a></li>
                    <li class="l2"><a href="/frontsite/aboutus">关于我们</a></li>
                    <li class="l2"><a href="/frontsite/contactus">联系我们</a></li>
                    <li class="l2"><a href="/frontsite/recruitment">招贤纳士</a></li>
                </div>
                <div class="l_170">
                	<li class="l1"><a href="javascript:void(0)">快速租房</a></li>
                    <li class="l2"><a href="/frontsite/buildinglist">写字楼</a></li>
                    <li class="l2"><a href="/frontsite/buildinglist">商铺</a></li>
                    <li class="l2"><a href="/frontsite/buildinglist">住宅</a></li>
                </div>
                <div class="l_170">
                	<li class="l1"><a href="javascript:void(0)">联系我们</a></li>
                    <li class="l3">000-000-0000</li>
                    <li class="l4"><a href="javascript:void(0)">客服中心</a></li>
                </div>
            </div>
            <div class="er_box">
            	<div class="er_92"><img src="{% static "images/er1.png" %}" width="92" height="92"></div>
                <div class="er_142">
                	<h1>码上有惊喜!</h1>
                    <p>扫描二维码<br/>更多精彩尽在手中</p>
                </div>
            </div>
        </div>
    </div>
    <div class="back5">
    	<div class="w_1200">
        	<div class="bq">Copyright © 2017-2017  有为空间  版权所有 某ICP备8888888号&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">法律声明</a></div>
            <div class="share">
            	<div class="fx">
                    <a href="#" class="wb"></a>
                </div>
                <div class="fx">
                    <a href="#" class="wx"></a>
                    <div class="er_img"><img src="{% static "images/er.png" %}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
