<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
    {% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
    <script>
        function popWindow(){
            $('#messageBox').dialogBox({
						hasClose: true,
						hasMask: true,
                        autoHide: true,
						time: 3000,
						title: '温馨提示',
						content: '正在开发中，敬请期待'
					});
        }


    </script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:700px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <div class="pz_slides_3">
            	<div class="_btn"></div>
                <div class="_pic">
                    <ul>
                        <!--
                        <li><a href="#"><img src="{% static "images/banner.jpg" %}" width="1920" height="700"/></a></li>
                       	<li><a href="#"><img src="{% static "images/banner.jpg" %}" width="1920" height="700"/></a></li>
                        <li><a href="#"><img src="{% static "images/banner.jpg" %}" width="1920" height="700"/></a></li>
                        -->
                        <!--20170607修改开始-->
                        <li><a href="#">
                        	<img src="{% static "images/banner.jpg" %}" width="1920" height="700" alt=""/>
                            <img src="{% static "images/bann_tx.png" %}" alt="" class="bann_tx">
                        </a></li>
                       	 <li><a href="#">
                        	<img src="{% static "images/banner.jpg" %}" width="1920" height="700" alt=""/>
                            <img src="{% static "images/bann_tx.png" %}" alt="" class="bann_tx">
                        </a></li>
                         <li><a href="#">
                        	<img src="{% static "images/banner.jpg" %}" width="1920" height="700" alt=""/>
                            <img src="{% static "images/bann_tx.png" %}" alt="" class="bann_tx">
                        </a></li>
                        <!--20170607修改结束-->
                    </ul>
                </div>
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
          	</div>
		  	<script>
				  var s_count = $(".pz_slides_3 ._pic img").length/2;
				  var s_li = "";
				  for (j = 1; j <= s_count; j++) { s_li += "<li></li>"; }
				  $(".pz_slides_3 > ._btn").html("<ul>" + s_li + "</ul>");
				  var btn = 1920 - $(".pz_slides_3 ._btn").width();
				  var btnl = btn / 2;
				  $(".pz_slides_3 ._btn").css("left", btnl + "px");
				  jQuery(".pz_slides_3").slide({ titCell: "._btn li", mainCell: "._pic ul", effect: "fold", autoPlay: true, delayTime: 1500, interTime: 3000 });
		    </script>
        </div>
        <div class="bann_tab">
            <div class="hd">
                <ul>
                    <!--
                    <li>写字楼</li>
                    <li>商铺</li>
                    <li>住宅</li>
                    -->
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <div class="bann_tit">选择区域</div>
                    <div class="bann_lsit1">
                        <li><a href="/frontsite/buildinglist/">不限</a></li>
                        {% for area in arealist %}
                            <li><a href="/frontsite/buildinglist/c{{ area.id }}">{{ area.country_name }}</a></li>
                        {% endfor %}
                    </div>

                    <div class="bann_lsit2">

                    </div>
                    <div class="bann_tit" style=" background:url({% static "images/bann4.png" %}) left center no-repeat;">选择面积</div>
                    <div class="bann_lsit3">
                        <li><a href="/frontsite/buildinglist/">不限</a></li>
                        <!-- <li class="on"><a href="#">不限</a></li> -->
                        <li><a href="/frontsite/buildinglist/a1">0-100㎡</a></li>
                        <li><a href="/frontsite/buildinglist/a2">100-200㎡</a></li>
                        <li><a href="/frontsite/buildinglist/a3">200-300㎡</a></li>
                        <li><a href="/frontsite/buildinglist/a4">300-500㎡</a></li>
                        <li><a href="/frontsite/buildinglist/a5">500-800㎡</a></li>
                        <li><a href="/frontsite/buildinglist/a6">800-1000㎡</a></li>
                        <li><a href="/frontsite/buildinglist/a7">1000㎡ 以上</a></li>
                    </div>
                    <div class="bann_so">
                        <div class="so" style="width:100%">
                            <input type="text" class="Search" style="width: 70%" id="searchText" placeholder="">
                            <input type="button" value="开始搜索" id="searchButton" class="sear_sub">
                        </div>
                        <!--
                        <div class="Map_search"><a href="javascript:popWindow()">地图搜索</a></div>
                        -->
                    </div>
                </ul>
            </div>
        </div>
		<script>
            jQuery(".bann_tab").slide({trigger:"click",pnLoop:false});
        </script>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
        <div class="home_tit">
        	<h1><img src="{% static "images/main1.png" %}" width="1200" height="38" alt=""></h1>
        </div>    
    </div>
    <div class="back2">
    	<div class="w_1200">
        	<div class="home_tab home_tab_one">
            	<div class="hd">
                    <ul>
                        <li>热门写字楼</li>
                        <li>热门商铺</li>
                    </ul>
                </div>
                <div class="bd">
                	<div class="bd_ul_one">
                    	<div class="tab_list_one">
                            <ul>
                                <li style="height: 420px;"><a href="/frontsite/building/{{ buildinglist.0.id }}">
                                	<div class="l2">
                                        <div class="tab_pic"><img src="/{{ buildinglist.0.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>{{ buildinglist.0.title }}</h1><h2>待租房源：<span>{{ buildinglist.0.rent_count }}</span>个</h2></div>
                                    </div>
                                </a></li>
                                <li><a href="/frontsite/building/{{ buildinglist.1.id }}">
                                	<div class="l1">
                                        <div class="tab_pic"><img style="height:285px;" src="/{{ buildinglist.1.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf2">
                                            <h1>{{ buildinglist.1.title }}</h1>
                                            <p>{{ buildinglist.1.address }}</p>
                                            <h2><span>待租房源：{{ buildinglist.1.rent_count }}个</span><time>210</time></h2>
                                        </div>
                                    </div>
                                </a>
                                    <a href="/frontsite/building/{{ buildinglist.2.id }}">
                                    <div class="l1" style="float:right;">
                                        <div class="tab_pic"><img style="height:285px;" src="/{{ buildinglist.2.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf2">
                                            <h1>{{ buildinglist.2.title }}</h1>
                                            <p>{{ buildinglist.2.address }}</p>
                                            <h2><span>待租房源：{{ buildinglist.2.rent_count }}个</span><time>210</time></h2>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="/frontsite/building/{{ buildinglist.3.id }}">
                                	<div class="l2">
                                        <div class="tab_pic"><img style="height:285px;" src="/{{ buildinglist.3.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>{{ buildinglist.3.title }}</h1><h2>待租房源：<span>{{ buildinglist.3.rent_count }}</span>个</h2></div>
                                    </div>
                                </a></li>
                                <li><a href="/frontsite/building/{{ buildinglist.4.id }}">
                                	<div class="l2">
                                        <div class="tab_pic"><img style="height:285px;"  src="/{{ buildinglist.4.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>{{ buildinglist.4.title }}</h1><h2>待租房源：<span>{{ buildinglist.4.rent_count }}</span>个</h2></div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                        <div class="more"><a href="/frontsite/buildinglist/t1">read more</a></div>
                    </div>
                    <div class="bd_ul_one">
                    	<div class="tab_list_one">
                            <ul>
                                <li style="height: 420px;"><a href="/frontsite/building/{{ buildinglist.0.id }}">
                                	<div class="l2">
                                        <div class="tab_pic"><img src="/{{ buildinglist.0.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>{{ buildinglist.0.title }}</h1><h2>待租房源：<span>{{ buildinglist.0.rent_count }}</span>个</h2></div>
                                    </div>
                                </a></li>
                                <li><a href="/frontsite/building/{{ buildinglist.1.id }}">
                                	<div class="l1">
                                        <div class="tab_pic"><img style="height:285px;" src="/{{ buildinglist.1.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf2">
                                            <h1>{{ buildinglist.1.title }}</h1>
                                            <p>{{ buildinglist.1.address }}</p>
                                            <h2><span>待租房源：{{ buildinglist.1.rent_count }}个</span><time>210</time></h2>
                                        </div>
                                    </div>
                                </a>
                                    <a href="/frontsite/building/{{ buildinglist.2.id }}">
                                    <div class="l1" style="float:right;">
                                        <div class="tab_pic"><img style="height:285px;" src="/{{ buildinglist.2.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf2">
                                            <h1>{{ buildinglist.2.title }}</h1>
                                            <p>{{ buildinglist.2.address }}</p>
                                            <h2><span>待租房源：{{ buildinglist.2.rent_count }}个</span><time>210</time></h2>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="/frontsite/building/{{ buildinglist.3.id }}">
                                	<div class="l2">
                                        <div class="tab_pic"><img style="height:285px;" src="/{{ buildinglist.3.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>{{ buildinglist.3.title }}</h1><h2>待租房源：<span>{{ buildinglist.3.rent_count }}</span>个</h2></div>
                                    </div>
                                </a></li>
                                <li><a href="/frontsite/building/{{ buildinglist.4.id }}">
                                	<div class="l2">
                                        <div class="tab_pic"><img style="height:285px;"  src="/{{ buildinglist.4.image1 }}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>{{ buildinglist.4.title }}</h1><h2>待租房源：<span>{{ buildinglist.4.rent_count }}</span>个</h2></div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                        <div class="more"><a href="/frontsite/buildinglist/t1">read more</a></div>
                    </div>
                </div>
            </div>
            <script>
				jQuery(".home_tab_one").slide({trigger:"click",pnLoop:false});
			</script>
        </div>
    </div>
	<div class="home_tab">
    	<div class="w_1200">
        	<div class="home_tit">
                <h1><img src="{% static "images/main2.png" %}" width="1200" height="38" alt=""></h1>

            </div>
            <div class="home_tab home_tab_two">
            	<div class="hd">
                    <ul>
                        <li>企业策划</li>
                        <li>运营支持</li>
                        <li>配套供应</li>
                    </ul>
                </div>
                <div class="bd">

                    <div class="bd_ul_two">
                    	<ul>
                        	<li><a href="/frontsite/service/1">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main17.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main17_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">装修设计</div>
                            </a></li>
                            <li><a href="/frontsite/service/2">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main18.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main18_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">图文广告</div>
                            </a></li>
                            <li><a href="/frontsite/service/3">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main19.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main19_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">包装设计</div>
                            </a></li>
                            <li><a href="/frontsite/service/4">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main20.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main20_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">视频制作</div>
                            </a></li>
                            <li><a href="/frontsite/service/5">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main21.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main21_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">方案撰写</div>
                            </a></li>
                            <li><a href="/frontsite/service/6">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main22.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main22_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">网站建设</div>
                            </a></li>
                        </ul>
                    </div>

                    <div class="bd_ul_two">
                    	<ul>
                        	<li><a href="/frontsite/service/10">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main17.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main17_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">工商代办</div>
                            </a></li>
                            <li><a href="/frontsite/service/11">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main18.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main18_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">社保代办</div>
                            </a></li>
                            <li><a href="/frontsite/service/12">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main19.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main19_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">人事外包</div>
                            </a></li>
                            <li><a href="/frontsite/service/13">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main20.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main20_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">版权培训</div>
                            </a></li>
                            <li><a href="/frontsite/service/14">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main21.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main21_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">企业培训</div>
                            </a></li>
                            <li><a href="/frontsite/service/15">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main22.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main22_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">版权培训</div>
                            </a></li>
                        </ul>

                    </div>

                    <div class="bd_ul_two">
                    	<ul>
                        	<li><a href="/frontsite/service/19">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main17.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main17_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">办公用品租售</div>
                            </a></li>
                            <li><a href="/frontsite/service/20">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main18.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main18_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">职业工服</div>
                            </a></li>
                            <li><a href="/frontsite/service/21">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main19.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main19_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">办公绿植</div>
                            </a></li>
                            <li><a href="/frontsite/service/22">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main20.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main20_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">活动布展用品</div>
                            </a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="more"><a href="/frontsite/services">read more</a></div>
            <script>
				jQuery(".home_tab_two").slide({trigger:"click",pnLoop:false});
			</script>
        </div>
    </div>
    <div class="w_1200">
        <div class="home_tit">
            <h1><img src="{% static "images/main3.png" %}" width="1200" height="38" alt=""></h1>
            <div class="more"><a href="#">read more</a></div>
        </div>
    </div>
    <div class="back3">
    	<div class="l_ty">
        	<img src="{% static "images/main23.jpg" %}" width="960" height="364" alt="">
            <div class="l_540 l_pf">
            	<h1>销售管理系统<i></i></h1>
                <p>人事管理系统，属于ERP的一个部分。它单指汇集成功企业先进的人力资源管理理念、人力资源管理实践、人力资源信息化...</p>
                <span onclick="popWindow()">more</span>
            </div>
        </div>
        <div class="r_ty">
        	<img src="{% static "images/main24.jpg" %}" width="960" height="364" alt="">
            <div class="l_540 r_pf">
            	<h1>销售管理系统<i></i></h1>
                <p>人事管理系统，属于ERP的一个部分。它单指汇集成功企业先进的人力资源管理理念、人力资源管理实践、人力资源信息化...</p>
                <span onclick="popWindow()">more</span>
            </div>
        </div>
    </div>
    <div class="w_1200">
        <div class="home_tit">
            <h1><img src="{% static "images/main4.png" %}" width="1200" height="38" alt=""></h1>
            <div class="more"><a href="/frontsite/news/1">read more</a></div>
        </div>
        <div class="home_new">
        	<div class="news_scrool">
            	<div class="bd">
                	<ul>
                        <li class="news_pic"><a href="/frontsite/new/{{ newlist.0.id }}">
                            <img src="/{{ newlist.0.image1 }}" width="380" height="370" alt="">
                            <span>{{ newlist.0.title }}</span>
                        </a></li>
                        <!--
                        <li class="news_pic"><a href="#">
                            <img src="{% static "images/main27.jpg" %}" width="380" height="370" alt="">
                            <span>有为空间——一站式企业服务</span>
                        </a></li>
                        <li class="news_pic"><a href="#">
                            <img src="{% static "images/main27.jpg" %}" width="380" height="370" alt="">
                            <span>有为空间——一站式企业服务</span>
                        </a></li>
                        -->
                    </ul>
                </div>
            </div>
            <script>jQuery(".news_scrool").slide({mainCell:".bd ul",effect:"left",autoPlay:true,delayTime: 1500, interTime: 3000 });</script>
            <div class="news_list">
            	<div class="news_pic">
                    <a href="/frontsite/new/{{ newlist.1.id }}">
                	<img src="/{{ newlist.1.image1 }}" width="380" height="160" alt="">
                    <span>{{ newlist.1.title }}</span>
                    </a>
                </div>
                <div class="news_text">
                	<li><a href="/frontsite/new/{{ newlist.3.id }}">{{ newlist.3.title }}</a><time>{{ newlist.3.createTime|date:"m-d"}}</time></li>
                    <li><a href="/frontsite/new/{{ newlist.4.id }}">{{ newlist.4.title }}</a><time>{{ newlist.3.createTime|date:"m-d"}}</time></li>
                    <li><a href="/frontsite/new/{{ newlist.5.id }}">{{ newlist.5.title }}</a><time>{{ newlist.3.createTime|date:"m-d"}}</time></li>
                    <li><a href="/frontsite/new/{{ newlist.6.id }}">{{ newlist.6.title }}</a><time>{{ newlist.3.createTime|date:"m-d"}}</time></li>
                    <li><a href="/frontsite/new/{{ newlist.7.id }}">{{ newlist.7.title }}</a><time>{{ newlist.3.createTime|date:"m-d"}}</time></li>
                </div>
            </div>
            <div class="news_list">
            	<div class="news_pic">
                    <a href="/frontsite/new/{{ newlist.2.id }}">
                	<img src="/{{ newlist.2.image1 }}" width="380" height="160" alt="">
                    <span>{{ newlist.2.title }}</span>
                    </a>
                </div>
                <div class="news_text">
                	<li><a href="/frontsite/new/{{ newlist.8.id }}">{{ newlist.8.title }}</a><time>{{ newlist.8.createTime|date:"m-d"}}</time></li>
                    <li><a href="/frontsite/new/{{ newlist.9.id }}">{{ newlist.9.title }}</a><time>{{ newlist.9.createTime|date:"m-d"}}</time></li>
                    <li><a href="/frontsite/new/{{ newlist.10.id }}">{{ newlist.10.title }}</a><time>{{ newlist.10.createTime|date:"m-d"}}</time></li>
                    <li><a href="/frontsite/new/{{ newlist.11.id }}">{{ newlist.11.title }}</a><time>{{ newlist.11.createTime|date:"m-d"}}</time></li>
                    <li><a href="/frontsite/new/{{ newlist.12.id }}">{{ newlist.12.title }}</a><time>{{ newlist.12.createTime|date:"m-d"}}</time></li>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
<div id="messageBox"></div>
<script>
    $("#searchButton").click(function(){
        var searchText=$("#searchText").val().trim();
        var url="/frontsite/buildinglist/s"+searchText;
        window.location.href=url;
    })
    $('#searchText').keydown(function(e){
        if(e.keyCode==13){
          var searchText=$("#searchText").val().trim();
            var url="/frontsite/buildinglist/s"+searchText;
            window.location.href=url;
        }
    });

</script>
</body>
</html>