<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
    {% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:700px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <div class="pz_slides_3">
            	<div class="_btn"></div>
                <div class="_pic">
                    <ul>
                        <!--
                        <li><a href="#"><img src="{% static "images/banner.jpg" %}" width="1920" height="700"/></a></li>
                       	<li><a href="#"><img src="{% static "images/banner.jpg" %}" width="1920" height="700"/></a></li>
                        <li><a href="#"><img src="{% static "images/banner.jpg" %}" width="1920" height="700"/></a></li>
                        -->
                        <!--20170607修改开始-->
                        <li><a href="#">
                        	<img src="{% static "images/banner.jpg" %}" width="1920" height="700" alt=""/>
                            <img src="{% static "images/bann_tx.png" %}" alt="" class="bann_tx">
                        </a></li>
                       	 <li><a href="#">
                        	<img src="{% static "images/banner.jpg" %}" width="1920" height="700" alt=""/>
                            <img src="{% static "images/bann_tx.png" %}" alt="" class="bann_tx">
                        </a></li>
                         <li><a href="#">
                        	<img src="{% static "images/banner.jpg" %}" width="1920" height="700" alt=""/>
                            <img src="{% static "images/bann_tx.png" %}" alt="" class="bann_tx">
                        </a></li>
                        <!--20170607修改结束-->
                    </ul>
                </div>
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
          	</div>
		  	<script>
				  var s_count = $(".pz_slides_3 ._pic img").length/2;
				  var s_li = "";
				  for (j = 1; j <= s_count; j++) { s_li += "<li></li>"; }
				  $(".pz_slides_3 > ._btn").html("<ul>" + s_li + "</ul>");
				  var btn = 1920 - $(".pz_slides_3 ._btn").width();
				  var btnl = btn / 2;
				  $(".pz_slides_3 ._btn").css("left", btnl + "px");
				  jQuery(".pz_slides_3").slide({ titCell: "._btn li", mainCell: "._pic ul", effect: "fold", autoPlay: true, delayTime: 1500, interTime: 3000 });
		    </script>
        </div>
        <div class="bann_tab">
            <div class="hd">
                <ul>
                    <li>写字楼</li>
                    <li>商铺</li>
                    <li>住宅</li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <div class="bann_tit">选择区域</div>
                    <div class="bann_lsit1">
                        <li><a href="#">不限</a></li>
                        <li class="on"><a href="#">武昌区</a></li>
                        <li><a href="#">江汉区</a></li>
                        <li><a href="#">江岸区</a></li>
                        <li><a href="#">洪山区</a></li>
                        <li><a href="#">硚口区</a></li>
                        <li><a href="#">汉阳区</a></li>
                        <li><a href="#">江夏区</a></li>
                        <li><a href="#">青山区</a></li>
                        <li><a href="#">黄陂区</a></li>
                        <li><a href="#">东湖高新区</a></li>
                        <li><a href="#">丁字桥</a></li>
                        <li><a href="#">东亭</a></li>
                    </div>
                    <div class="bann_lsit2">
                        <span><strong>B</strong><a href="#">白沙洲</a></span>|
                        <span><strong>C</strong><a href="#">陈家湾</a></span>|
                        <span>
                            <strong>G</strong>
                            <a href="#">广阜屯</a>
                            <a href="#">光谷</a>
                            <a href="#">关山</a>
                        </span>|
                        <span><strong>H</strong><a href="#">洪山周边</a></span>|
                        <span><strong>J</strong><a href="#">街道口</a></span>|
                        <span><strong>L</strong><a href="#">珞狮南路</a></span>
                    </div>
                    <div class="bann_tit" style=" background:url({% static "images/bann4.png" %}) left center no-repeat;">选择面积</div>
                    <div class="bann_lsit3">
                        <li class="on"><a href="#">不限</a></li>
                        <li><a href="#">0-100㎡</a></li>
                        <li><a href="#">100-200㎡</a></li>
                        <li><a href="#">200-300㎡</a></li>
                        <li><a href="#">300-500㎡</a></li>
                        <li><a href="#">500-800㎡</a></li>
                        <li><a href="#">800-1000㎡</a></li>
                        <li><a href="#">1000㎡ 以上</a></li>  
                    </div>
                    <div class="bann_so">
                        <div class="so">
                            <input type="text" class="Search" placeholder="">
                            <input type="button" value="开始搜索" class="sear_sub">
                        </div>
                        <div class="Map_search"><a href="#">地图搜索</a></div>
                    </div>
                </ul>
            </div>
        </div>
		<script>
            jQuery(".bann_tab").slide({trigger:"click",pnLoop:false});
        </script>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
        <div class="home_tit">
        	<h1><img src="{% static "images/main1.png" %}" width="1200" height="38" alt=""></h1>
        </div>    
    </div>
    <div class="back2">
    	<div class="w_1200">
        	<div class="home_tab home_tab_one">
            	<div class="hd">
                    <ul>
                        <li>热门写字楼</li>
                        <li>热门商铺</li>
                    </ul>
                </div>
                <div class="bd">
                	<div class="bd_ul_one">
                    	<div class="tab_list_one">
                            <ul>
                                <li><a href="#">
                                	<div class="l2">
                                        <div class="tab_pic"><img src="{% static "images/main8.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>海泰时代大厦</h1><h2>待租房源：<span>24</span>个</h2></div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                	<div class="l1">
                                        <div class="tab_pic"><img src="{% static "images/main9.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf2">
                                            <h1>中心五牛大厦</h1>
                                            <p>浦东大道1101号-1205号</p>
                                            <h2><span>待租房源：14个</span><time>210</time></h2>
                                        </div>
                                    </div>
                                    <div class="l1" style=" float:right;">
                                        <div class="tab_pic"><img src="{% static "images/main10.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf2">
                                            <h1>中心五牛大厦</h1>
                                            <p>浦东大道1101号-1205号</p>
                                            <h2><span>待租房源：14个</span><time>210</time></h2>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                	<div class="l2">
                                        <div class="tab_pic"><img src="{% static "images/main11.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>海泰时代大厦</h1><h2>待租房源：<span>24</span>个</h2></div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                	<div class="l2">
                                        <div class="tab_pic"><img src="{% static "images/main12.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>海泰时代大厦</h1><h2>待租房源：<span>24</span>个</h2></div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                        <div class="more"><a href="#">read more</a></div>
                    </div>
                    <div class="bd_ul_one">
                    	<div class="tab_list_one">
                            <ul>
                                <li><a href="#">
                                	<div class="l2">
                                        <div class="tab_pic"><img src="{% static "images/main8.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>海泰时代大厦</h1><h2>待租房源：<span>24</span>个</h2></div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                	<div class="l1">
                                        <div class="tab_pic"><img src="{% static "images/main9.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf2">
                                            <h1>中心五牛大厦</h1>
                                            <p>浦东大道1101号-1205号</p>
                                            <h2><span>待租房源：14个</span><time>210</time></h2>
                                        </div>
                                    </div>
                                    <div class="l1" style=" float:right;">
                                        <div class="tab_pic"><img src="{% static "images/main10.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf2">
                                            <h1>中心五牛大厦</h1>
                                            <p>浦东大道1101号-1205号</p>
                                            <h2><span>待租房源：14个</span><time>210</time></h2>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                	<div class="l2">
                                        <div class="tab_pic"><img src="{% static "images/main11.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>海泰时代大厦</h1><h2>待租房源：<span>24</span>个</h2></div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                	<div class="l2">
                                        <div class="tab_pic"><img src="{% static "images/main12.jpg" %}" width="100%" alt=""></div>
                                        <div class="tab_pf1"><h1>海泰时代大厦</h1><h2>待租房源：<span>24</span>个</h2></div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                        <div class="more"><a href="#">read more</a></div>
                    </div>
                </div>
            </div>
            <script>
				jQuery(".home_tab_one").slide({trigger:"click",pnLoop:false});
			</script>
        </div>
    </div>
	<div class="home_tab">
    	<div class="w_1200">
        	<div class="home_tit">
                <h1><img src="{% static "images/main2.png" %}" width="1200" height="38" alt=""></h1>
                <div class="more"><a href="#">read more</a></div>
            </div>
            <div class="home_tab home_tab_two">
            	<div class="hd">
                    <ul>
                        <li>企业策划</li>
                        <li>运营支持</li>
                        <li>配套供应</li>
                    </ul>
                </div>
                <div class="bd">
                	<div class="bd_ul_two">
                    	<ul>
                        	<li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main17.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main17_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">装修设计</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main18.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main18_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">工商代账服务</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main19.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main19_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">社保人力资源服务</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main20.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main20_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">商务咨询服务</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main21.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main21_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">办公用品租售服务</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main22.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main22_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">办公用品租售服务</div>
                            </a></li>
                        </ul>
                    </div>
                    <div class="bd_ul_two">
                    	<ul>
                        	<li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main17.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main17_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">装修设计</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main18.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main18_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">工商代账服务</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main19.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main19_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">社保人力资源服务</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main20.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main20_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">商务咨询服务</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main21.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main21_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">办公用品租售服务</div>
                            </a></li>
                            <li><a href="#">
                            	<div class="tab_pic2">
                                	<img src="{% static "images/main16.png" %}" width="100%" alt="" class="pic1">
                                    <img src="{% static "images/main22.png" %}" width="100%" alt="" class="pic2">
                                    <img src="{% static "images/main22_1.png" %}" width="100%" alt="" class="pic3">
                                    <i></i>
                                </div>
                                <div class="tab_text2">办公用品租售服务</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <script>
				jQuery(".home_tab_two").slide({trigger:"click",pnLoop:false});
			</script>
        </div>
    </div>
    <div class="w_1200">
        <div class="home_tit">
            <h1><img src="{% static "images/main3.png" %}" width="1200" height="38" alt=""></h1>
            <div class="more"><a href="#">read more</a></div>
        </div>
    </div>
    <div class="back3">
    	<div class="l_ty">
        	<img src="{% static "images/main23.jpg" %}" width="960" height="364" alt="">
            <div class="l_540 l_pf">
            	<h1>销售管理系统<i></i></h1>
                <p>人事管理系统，属于ERP的一个部分。它单指汇集成功企业先进的人力资源管理理念、人力资源管理实践、人力资源信息化...</p>
                <span>more</span>
            </div>
        </div>
        <div class="r_ty">
        	<img src="{% static "images/main24.jpg" %}" width="960" height="364" alt="">
            <div class="l_540 r_pf">
            	<h1>销售管理系统<i></i></h1>
                <p>人事管理系统，属于ERP的一个部分。它单指汇集成功企业先进的人力资源管理理念、人力资源管理实践、人力资源信息化...</p>
                <span>more</span>
            </div>
        </div>
    </div>
    <div class="w_1200">
        <div class="home_tit">
            <h1><img src="{% static "images/main4.png" %}" width="1200" height="38" alt=""></h1>
            <div class="more"><a href="#">read more</a></div>
        </div>
        <div class="home_new">
        	<div class="news_scrool">
            	<div class="bd">
                	<ul>
                        <li class="news_pic"><a href="#">
                            <img src="{% static "images/main27.jpg" %}" width="380" height="370" alt="">
                            <span>有为空间——一站式企业服务</span>
                        </a></li>
                        <li class="news_pic"><a href="#">
                            <img src="{% static "images/main27.jpg" %}" width="380" height="370" alt="">
                            <span>有为空间——一站式企业服务</span>
                        </a></li>
                        <li class="news_pic"><a href="#">
                            <img src="{% static "images/main27.jpg" %}" width="380" height="370" alt="">
                            <span>有为空间——一站式企业服务</span>
                        </a></li>
                    </ul>
                </div>
            </div>
            <script>jQuery(".news_scrool").slide({mainCell:".bd ul",effect:"left",autoPlay:true,delayTime: 1500, interTime: 3000 });</script>
            <div class="news_list">
            	<div class="news_pic">
                	<img src="{% static "images/main30.jpg" %}" width="380" height="160" alt="">
                    <span>看了少奋斗十年，升职加薪办公室风水</span>
                </div>
                <div class="news_text">
                	<li><a href="#">古代建筑选址是如何看风水的?</a><time>04-22</time></li>
                    <li><a href="#">看进来，专家投资写字楼的散步要诀</a><time>04-22</time></li>
                    <li><a href="#">企业厂房选址的六大秘籍</a><time>04-22</time></li>
                    <li><a href="#">入驻写字楼对企业有什么好处？</a><time>04-22</time></li>
                    <li><a href="#">再背景企业选址为什么如此重要</a><time>04-22</time></li>
                </div>
            </div>
            <div class="news_list">
            	<div class="news_pic"><a href="#">
                	<img src="{% static "images/main31.jpg" %}" width="380" height="160" alt="">
                    <span>选对写字楼，对企业形象很重要</span>
                </a></div>
                <div class="news_text">
                	<li><a href="#">古代建筑选址是如何看风水的?</a><time>04-22</time></li>
                    <li><a href="#">看进来，专家投资写字楼的散步要诀</a><time>04-22</time></li>
                    <li><a href="#">企业厂房选址的六大秘籍</a><time>04-22</time></li>
                    <li><a href="#">入驻写字楼对企业有什么好处？</a><time>04-22</time></li>
                    <li><a href="#">再背景企业选址为什么如此重要</a><time>04-22</time></li>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
</body>
</html>