<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:400px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <img src="images/banner5.jpg" width="1920" height="400"/>
		</div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
    	<div class="side_pz">
        	<div class="pz_SideLayer mt_auto">
                <li class="l1 on"><a href="#">行业新闻</a></li>
                <li class="l1"><a href="#">活动动态</a></li>
                <li class="l1"><a href="#">最新要闻</a></li>
            </div>
        </div>
    	<div class="Newsdetails">
        	<p style=" color:#333333; font-size:24px; text-align:center;"><strong>服务式办公室设计理念，人性化选择</strong></p><br/>
        	<p style=" color:#777777; font-size:14px; text-align:center; padding:15px 0; border-bottom:1px solid #d7d8d8; border-top:1px solid #d7d8d8;"><span>发布时间：2017.05.09 09:18   浏览次数：519   作者：admin</span></p><br/>
        	近期，中国（上海）自由贸易试验区扩区和津、粤、闽三个新设自贸试验区就将正式启动运行，届时上海自贸试验区建设就正式从形态单一、一花独放的1.0时代步入功能多样、百花争艳
的2.0时代。过去一年多，尽管上海自贸试验区也有一些质疑之声，但客观来看，能在如此短的时间形成一批可复制可推广的制度创新经验，的的确确是啃下了许多硬骨头，发挥了领全国
新一轮改革开放之先的试验田功能。进入2.0版自贸试验区的风口，如何保持制度创新的先发优势，如何继续当好改革开放的排头兵，这是上海自贸试验区亟须要向国家交出的答卷。相比
一年多以前，建设2.0版的上海自贸试验区是一项更加复杂的系统工程，必须进一步明确方位、找准定位，特别是首先应厘清方方面面的关系，去除枷锁、卸下包袱，集各方之智、聚各方
之力，进一步提升自贸试验区的开放度和制度创新的显示度。总的来看，可能有三个层面、十个方面的关系需要科学把握。<br/><br/>
<strong style=" color:#090909;">第一个层面，应对自贸试验区的改革逻辑再思考：</strong>
<br><br/>
复制推广与服务辐射的关系。中央对自贸试验区制度创新有一个明确的要求，就是要立足可复制、可推广，而不是打造政策洼地。那么，是否自贸试验区所有的制度创新都要以向面上可复
制、可推广为前提呢？或许我们还可以加上一条原则，也就是可服务、可辐射，即便一些制度创新不能被复制推广，但能起到服务辐射其他地区乃至全国也是有重大意义的。比如，上海建
设国际金融中心，目前已形成了较为完备的要素市场体系，包括证券、期货、外汇市场等，这些要素市场体系不是仅仅服务于上海的发展，而是面向全国的，甚至还将是面向全球的事实上
不是所有的地方都具备复制推广建设国际金融中心的条件，推动这些相关领域的改革甚至比一般性能复制推广的制度创新对全国更有价值更有意义。再比如，真正的跨国公司总部通常都有
统筹运作离岸业务的诉求，假如没有形成与国际接轨的有竞争力的离岸税制，自贸试验区深耕亚太的宏伟目标很可能会受到掣肘。因此，自贸试验区的制度创新，既要坚持可复制可推广的
基本原则，不能形成所谓的虹吸效应，又应当更多地从全局出发、从大处着眼，绝不能简单地以不能可复制、可推广而束缚手脚、加以否定。
<br/><br/>
<img src="images/main75.jpg" width="1200" height="432" alt="">
<br/><br/>
<strong style=" color:#090909;">第一个层面，应对自贸试验区的改革逻辑再思考：</strong>
<br/><br/>
28与120的关系。从28平方公里到120平方公里，不是简单的扩展面积范围，而是从功能领域到试验任务全方位的升级，自贸试验区与“四个中心”、科技创新的联动有了实实在在的载体
和空间。扩区前的改革试验是在与区外相隔绝的封闭的铁丝网内进行的，而扩区后不再是一个封闭的区域，要做好扩大开放后的事中事后监管必定更加复杂。因此，28平方公里制度创新
的经验不能简单地照搬照抄到120平方公里的大试验田，特别是涉及海关特殊监管的，要创新电子围网监管模式，推广到海关特殊监管区以外，这样的复制推广实际上也是一种再创新。同
时，上海自贸试验区新一轮改革试点既要统筹做好顶层设计，也应鼓励保税区、张江片区、金桥片区、陆家嘴片区四个区域结合区域特色开展自主创新，而不应过多人为地考虑谁先谁后，
只要不涉及铁丝网围栏的改革试点，不能因过多考虑风险而先放在28再推广到120，倘若如此，可能会使压力测试的效果受到限制。
        </div>
        <div class="sx_fy">
        	<a href="#" class="l_fy">上一篇：标题名称</a>
            <a href="#" class="r_fy">下一篇：标题名称</a>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
<script>
jQuery(".sideMenu_2").slide({titCell:".t_940_1", targetCell:".l_940_1",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click",defaultPlay:false});
</script>
</body>
</html>