<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
    {% load pagination_tags %}
    {% autopaginate newlist 6 %}
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:400px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <img src="{% static "images/banner5.jpg" %}" width="1920" height="400"/>
		</div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
    	<div class="side_pz">
        	<div class="pz_SideLayer mt_auto">
                <li class="l1 {% if type == '1' %} on {% endif %}"><a href="/frontsite/news/1">行业新闻</a></li>
                <li class="l1 {% if type == '2' %} on {% endif %}"><a href="/frontsite/news/2">活动动态</a></li>
                <li class="l1 {% if type == '3' %} on {% endif %}"><a href="/frontsite/news/3">最新要闻</a></li>
            </div>
        </div>
    	<div class="newslist">
        	<ul>
                {% for new in newlist %}
                    <li>
                        <div class="pic_news"><a href="/frontsite/new/{{ new.id }}"><img src="/{{ new.image1 }}" width="221" height="155"></a></div>
                        <div class="text_news">
                            <h1><a href="/frontsite/new/{{ new.id }}">{{ new.title }}</a></h1>
                            <time>2017/05/09</time>
                            <p>{{ new.abstractText }}</p>
                        </div>
                    </li>
                {% endfor %}

             </ul>
        </div>
       <div class="wack1">
            {% paginate using "frontsite/pagination.html" %}
      </div>
   </div>
</div>
{% include "frontsite/foot.html" %}
<script>
jQuery(".sideMenu_2").slide({titCell:".t_940_1", targetCell:".l_940_1",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click",defaultPlay:false});
</script>
</body>
</html>