<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:400px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <img src="images/banner5.jpg" width="1920" height="400"/>
		</div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
    	<div class="side_pz">
        	<div class="pz_SideLayer mt_auto">
                <li class="l1 on"><a href="#">行业新闻</a></li>
                <li class="l1"><a href="#">活动动态</a></li>
                <li class="l1"><a href="#">最新要闻</a></li>
            </div>
        </div>
    	<div class="newslist">
        	<ul>
            	<li>
                	<div class="pic_news"><a href="#"><img src="images/main77.jpg" width="221" height="155"></a></div>
                    <div class="text_news">
                    	<h1><a href="#">装修施工最应紧扣哪五大环节?</a></h1>
                        <time>2017/05/09</time>
                        <p>装修施工最应紧扣哪五大环节?装修施工环节是居室装修的质量保证书，而且施工环节的技巧性也成为了优劣工程的直观因素。在装修施工中，存在五大环节，密不可分。那么，装修施工最应紧扣哪五大环节?</p>
                    </div>
                </li>
                <li>
                	<div class="pic_news"><a href="#"><img src="images/main78.jpg" width="221" height="155"></a></div>
                    <div class="text_news">
                    	<h1><a href="#">服务式办公室设计理念，人性化选择</a></h1>
                        <time>2017/05/09</time>
                        <p>装修施工最应紧扣哪五大环节?装修施工环节是居室装修的质量保证书，而且施工环节的技巧性也成为了优劣工程的直观因素。在装修施工中，存在五大环节，密不可分。那么，装修施工最应紧扣哪五大环节?</p>
                    </div>
                </li>
                <li>
                	<div class="pic_news"><a href="#"><img src="images/main77.jpg" width="221" height="155"></a></div>
                    <div class="text_news">
                    	<h1><a href="#">装修施工最应紧扣哪五大环节?</a></h1>
                        <time>2017/05/09</time>
                        <p>装修施工最应紧扣哪五大环节?装修施工环节是居室装修的质量保证书，而且施工环节的技巧性也成为了优劣工程的直观因素。在装修施工中，存在五大环节，密不可分。那么，装修施工最应紧扣哪五大环节?</p>
                    </div>
                </li>
                <li>
                	<div class="pic_news"><a href="#"><img src="images/main78.jpg" width="221" height="155"></a></div>
                    <div class="text_news">
                    	<h1><a href="#">服务式办公室设计理念，人性化选择</a></h1>
                        <time>2017/05/09</time>
                        <p>装修施工最应紧扣哪五大环节?装修施工环节是居室装修的质量保证书，而且施工环节的技巧性也成为了优劣工程的直观因素。在装修施工中，存在五大环节，密不可分。那么，装修施工最应紧扣哪五大环节?</p>
                    </div>
                </li>
                <li>
                	<div class="pic_news"><a href="#"><img src="images/main77.jpg" width="221" height="155"></a></div>
                    <div class="text_news">
                    	<h1><a href="#">装修施工最应紧扣哪五大环节?</a></h1>
                        <time>2017/05/09</time>
                        <p>装修施工最应紧扣哪五大环节?装修施工环节是居室装修的质量保证书，而且施工环节的技巧性也成为了优劣工程的直观因素。在装修施工中，存在五大环节，密不可分。那么，装修施工最应紧扣哪五大环节?</p>
                    </div>
                </li>
             </ul>
        </div>    
       <div class="wack1">
          <div class="pz_fy">
              <a href="#">&lt;</a>
              <a href="#" class="on">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">&gt;</a>
          </div> 
      </div>
   </div>
</div>
{% include "frontsite/foot.html" %}
<script>
jQuery(".sideMenu_2").slide({titCell:".t_940_1", targetCell:".l_940_1",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click",defaultPlay:false});
</script>
</body>
</html>