<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_main">
    <div class="back8" style=" height:580px; background:url(images/banner6.jpg) center no-repeat; background-size: auto 100%;">
    	<div class="w_1200">
        	<div class="Oaoffice">
            	<ul>
                	<li>
                    	<a href="#">
                        	<div class="l_153_1">
                            	<img class="oa_pic1" src="images/main84.png" width="153" height="177">
                                <img class="oa_pic2" src="images/main84_1.png" width="153" height="177">
                            </div>
                            <div class="l_153_2">销售管理系统</div>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<div class="l_153_1">
                            	<img class="oa_pic1" src="images/main85.png" width="153" height="177">
                                <img class="oa_pic2" src="images/main85_1.png" width="153" height="177">
                            </div>
                            <div class="l_153_2">日程管理</div>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<div class="l_153_1">
                            	<img class="oa_pic1" src="images/main86.png" width="153" height="177">
                                <img class="oa_pic2" src="images/main86_1.png" width="153" height="177">
                            </div>
                            <div class="l_153_2">人事管理系统</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
</body>
</html>