{% load static %}
<div class="l_199">
    <div class="t_199">
        <div class="img_50"><img src="{% static "images/main47.png" %}" width="51" height="51"></div>
        <div class="l_100">{{ request.session.nickname }}</div>
    </div>
    <div class="d_199 sideMen">
        <h1 class="l1" id="h1"><a href="#">个人信息</a></h1>
        <ul class="l2">
            <li id="l11"><a href="/frontsite/personal">基本信息</a></li>
            <!--
            <li id="l12"><a href="/frontsite/personal">我的账户</a></li>
            -->
        </ul>
        <h1 class="l1" id="h2"><a href="#">房源服务</a></h1>
        <ul class="l2">
            <li id="l21"><a href="/frontsite/publish">发布房源</a></li>
            <li id="l22"><a href="/frontsite/requirement">发布需求</a></li>
            <!--<li id="l23"><a href="/frontsite/mysourse">我发布的</a></li>-->
        </ul>
        <h1 class="l1" id="h3"><a href="#">我的订单</a></h1>
        <ul class="l2">
            <li id="l31"><a href="/frontsite/orders/10">全部订单</a></li>
            <li id="l32"><a href="/frontsite/orders/3">咨询中</a></li>
            <li id="l33"><a href="/frontsite/orders/4">代付款</a></li>
            <li id="l34"><a href="/frontsite/orders/5">已完成</a></li>
        </ul>
        <h1 class="l1" id="h4"><a href="/frontsite/messages">消息中心</a></h1>
        <ul class="l2" style=" padding:0;border-top:none;">
        </ul>
        <h1 class="l1" id="h5"><a href="#">我的企业</a></h1>
        <ul class="l2">
            <li id="h51"><a href="/frontsite/enterprise">注册商户</a></li>
            <li id="h52"><a href="/frontsite/enterpriseRegiste">申请合作</a></li>
        </ul>
    </div>
</div>
