{% load static %}
<div class="l_199">
    <div class="t_199">
        <div class="img_50"><img src="{% static "images/main47.png" %}" width="51" height="51"></div>
        <div class="l_100">五月租房</div>
    </div>
    <div class="d_199 sideMen">
        <h1 class="l1 on"><a href="#">个人信息</a></h1>
        <ul class="l2">
            <li class="on"><a href="/frontsite/personal">基本信息</a></li>
            <li><a href="/frontsite/personal">我的账户</a></li>
        </ul>
        <h1 class="l1"><a href="#">房源服务</a></h1>
        <ul class="l2">
            <li><a href="/frontsite/publish">发布房源</a></li>
            <li><a href="/frontsite/requirement">发布需求</a></li>
            <li><a href="/frontsite/mysourse">我发布的</a></li>
        </ul>
        <h1 class="l1"><a href="#">我的订单</a></h1>
        <ul class="l2">
            <li><a href="/frontsite/orders">全部订单</a></li>
            <li><a href="/frontsite/orders">代付款</a></li>
            <li><a href="/frontsite/orders">咨询中</a></li>
            <li><a href="/frontsite/orders">已完成</a></li>
        </ul>
        <h1 class="l1"><a href="/frontsite/messages">消息中心</a></h1>
        <ul class="l2" style=" padding:0;border-top:none;">
        </ul>
        <h1 class="l1"><a href="#">我的企业</a></h1>
        <ul class="l2">
            <li><a href="/frontsite/enterprise">注册商户</a></li>
            <li><a href="/frontsite/enterpriseRegiste">申请合作</a></li>
        </ul>
    </div>
</div>
