<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_main" style=" position:relative;">
	<div class="bann_bg"></div>
    <div class="w_1200">
    	<div class="listings_tit"><a href="#">首页</a> - <a href="/frontsite/personal" class="on">个人中心</a></div>
    	<div class="member">
        	{% include "frontsite/personalNav.html" %}
            <div class="r_799">
                <div class="t_798">
                    <div class="l_jf ico1">个人信息&nbsp;<span>基本信息</span></div>
                    <div class="r_tc"></div>
                </div>
                <div class="Personal_content">
                	<ul>
                    	<li>
                        	<div class="l1">
                        		<h1>昵称</h1><h2>{{ account.nickname }}</h2><a href="#">修改</a>
                            </div>
                        </li>
                        <li>
                        	<div class="l1">
                        		<h1>真实姓名</h1><h2>
                                    {% if account.realname == '' %}
                                        未填写
                                    {% else %}
                                        {{ account.realname }}
                                    {% endif %}
                                </h2><a href="#" class="on">查看</a>
                            </div>
                            <div class="l1">
                        		<h1>性别</h1><h2>男</h2><a href="#" class="on">查看</a>
                            </div>
                        </li>
                        <li>
                        	<div class="l1">
                        		<h1>绑定手机</h1><h2>{{ account.telephone }}</h2><a href="#" class="on">修改</a>
                            </div>
                            <div class="l1">
                        		<h1>银行卡账户</h1><h2>未设置</h2><a href="#" class="on">设置</a>
                            </div>
                        </li>
                        <!--
                        <li>
                        	<div class="l1">
                        		<h1>问题验证</h1><h2>未设置</h2><a href="#">设置</a>
                            </div>
                        </li>
                        -->
                        <li>
                        	<div class="l1">
                        		<h1>地址</h1><h2>{% if account.address == '' %}
                                        未填写
                                    {% else %}
                                        {{ account.address }}
                                    {% endif %}</h2><a href="#">修改</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "frontsite/foot2.html" %}
<script>
        jQuery("#h1").addClass("on");
        jQuery("#l11").addClass("on");
					jQuery(".sideMen").slide({titCell:".l1", targetCell:".l2",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click"});
				</script>
</body>
</html>