<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/pzselect.1.0.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_main" style=" position:relative;">
	<div class="bann_bg"></div>
    <div class="w_1200">
    	<div class="listings_tit"><a href="#">首页</a> - <a href="#" class="on">个人中心</a></div>
    	<div class="member">
        	{% include "frontsite/personalNav.html" %}
            <div class="r_799">
                <div class="t_798">
                    <div class="l_jf ico2">房源服务&nbsp;<span>发布房源</span></div>
                    <div class="r_tc"><a href="#">退出登录</a></div>
                </div>
                <div class="Availability">
                	<form>
                    	<label>
                        	<div class="fm_name1"><span>*</span>房源名称</div>
                            <div class="fm_input1">	
                            	<input type="text" placeholder="" class="fm8">
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>房子所在地区</div>
                            <div class="fm_input1">	
                            	<div class="h_searchbox" pzdatatype="select">
                                    <input type="hidden" value="请选择问题分类">
                                    <div class="titcon" pzdatatype="title">请选择问题分类</div>
                                    <ul class="serul" pzdatatype="content">
                                       <li class=""><a href="#">请选择问题分类</a></li>
                                       <li class="on"><a href="#">请选择问题分类</a></li>
                                    </ul>
                                </div>
                                <div class="h_searchbox" pzdatatype="select">
                                    <input type="hidden" value="请选择城市">
                                    <div class="titcon" pzdatatype="title">请选择城市</div>
                                    <ul class="serul" pzdatatype="content">
                                       <li class=""><a href="#">请选择城市</a></li>
                                       <li class="on"><a href="#">请选择城市</a></li>
                                    </ul>
                                </div>
                                <div class="h_searchbox" pzdatatype="select">
                                    <input type="hidden" value="请选择所在区域">
                                    <div class="titcon" pzdatatype="title">请选择所在区域</div>
                                    <ul class="serul" pzdatatype="content">
                                       <li class=""><a href="#">请选择所在区域</a></li>
                                       <li class="on"><a href="#">请选择所在区域</a></li>
                                    </ul>
                                </div>
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>详细地址</div>
                            <div class="fm_input1">	
                            	<input type="text" placeholder="" class="fm8">
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>房源用途</div>
                            <div class="fm_input1">	
                            	<div class="h_searchbox h_searchbox1" pzdatatype="select">
                                    <input type="hidden" value="请选择房源用途">
                                    <div class="titcon" pzdatatype="title">请选择房源用途</div>
                                    <ul class="serul" pzdatatype="content">
                                       <li class=""><a href="#">请选择房源用途</a></li>
                                       <li class="on"><a href="#">请选择房源用途</a></li>
                                    </ul>
                                </div>
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>建筑面积</div>
                            <div class="fm_input1">	
                            	<input type="text" placeholder="请选择装修程度" class="fm8">
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>出租户型</div>
                            <div class="fm_input1">	
                            	<div class="fm_input1_2">
                            		<input type="text" placeholder="" class="fm12">
                                    <div class="fm_pf">㎡</div>
                                    <div class="fm_name1 fm_name2"><span>*</span>楼层</div>
                                    <input type="text" placeholder="" class="fm12">
                                    <div class="fm_name1 fm_name2"><span>*</span>租金</div>
                                    <input type="text" placeholder="" class="fm12">
                                    <div class="fm_pf">㎡/月</div>
                                </div>
                                <div class="fm_input1_2" style=" margin-top:20px;">
                            		<input type="text" placeholder="" class="fm12">
                                    <div class="fm_pf">㎡</div>
                                    <div class="fm_name1 fm_name2"><span>*</span>楼层</div>
                                    <input type="text" placeholder="" class="fm12">
                                    <div class="fm_name1 fm_name2"><span>*</span>租金</div>
                                    <input type="text" placeholder="" class="fm12">
                                    <div class="fm_pf">㎡/月</div>
                                    <a class="fm_tjhx" style=" position:relative;"><input style="position: absolute; width:83px; height:29px;font-size:0;right: 0;top: 0;opacity: 0;filter: alpha(opacity=0); cursor:pointer;" type="file">添加户型</a>
                                </div>
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>附近交通</div>
                            <div class="fm_input1">	
                            	<input type="text" placeholder="请选择装修程度" class="fm8">
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>房源描述</div>
                            <div class="fm_input1">	
                            	<textarea  type="text" placeholder="请介绍合作房源邻里好友" class="fm9"></textarea>
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>入住企业</div>
                            <div class="fm_input1">	
                            	<textarea  type="text" placeholder="请介绍合作房源邻里好友" class="fm9"></textarea>
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>入住企业</div>
                            <div class="fm_input1">	
                            	<input  type="text" placeholder="请介绍合作房源邻里好友" class="fm9">
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1"><span>*</span>房源图片</div>
                            <div class="fm_input1">	
                            	<div class="fm_input1_1">
                            		<input  type="text" placeholder="" class="fm11"><a href="#" style=" position:relative;">浏览<input style="position: absolute; width:28px; height:21px;font-size:0;right: 0;top: 12px;opacity: 0;filter: alpha(opacity=0); cursor:pointer;" type="file"></a>
                                </div>
                                <div class="fm_input1_1">
                            		<input  type="text" placeholder="" class="fm11"><a href="#" style=" position:relative;">浏览<input style="position: absolute; width:28px; height:21px;font-size:0;right: 0;top: 12px;opacity: 0;filter: alpha(opacity=0); cursor:pointer;" type="file"></a>
                                </div>
                                <div class="fm_input1_1">
                            		<input  type="text" placeholder="" class="fm11"><a href="#" style=" position:relative;">浏览<input style="position: absolute; width:28px; height:21px;font-size:0;right: 0;top: 12px;opacity: 0;filter: alpha(opacity=0); cursor:pointer;" type="file"></a>
                                </div>
                                <div class="fm_input1_1">
                            		<input  type="text" placeholder="" class="fm11"><a href="#" style=" position:relative;">浏览<input style="position: absolute; width:28px; height:21px;font-size:0;right: 0;top: 12px;opacity: 0;filter: alpha(opacity=0); cursor:pointer;" type="file"></a>
                                </div>
                                <div class="fm_input1_1">
                            		<input  type="text" placeholder="" class="fm11"><a href="#" style=" position:relative;">浏览<input style="position: absolute; width:28px; height:21px;font-size:0;right: 0;top: 12px;opacity: 0;filter: alpha(opacity=0); cursor:pointer;" type="file"></a>
                                </div>
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1">&nbsp;&nbsp;</div>
                            <div class="fm_input1">	
                            	<input  type="button" value="上传房源" class="fm10">
                            </div>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
<script>
					jQuery(".sideMen").slide({titCell:".l1", targetCell:".l2",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click"});
				</script>

</body>
</html>