<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/pzselect.1.0.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_main" style=" position:relative;">
	<div class="bann_bg"></div>
    <div class="w_1200">
    	<div class="listings_tit"><a href="#">首页</a> - <a href="#" class="on">个人中心</a></div>
    	<div class="member">
        	{% include "frontsite/personalNav.html" %}
            <div class="r_799">
                <div class="t_798">
                    <div class="l_jf ico2">房源服务&nbsp;<span>发布房源</span></div>
                    <div class="r_tc"></div>
                </div>
                <div class="Availability">
                	<form class="l_623"  action="/frontsite/addSource/?returnUrl={{ request.path }}" method="post" id="form">
                        {% csrf_token %}
                    	<label>
                        	<div class="fm_name1 fm_name3"><span>*</span>联系人</div>
                            <div class="fm_input1 fm_input3">
                            	<input type="text" placeholder="联系人" class="fm13" name="username">
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1 fm_name3"><span>*</span>联系电话</div>
                            <div class="fm_input1 fm_input3">
                            	<input type="text" placeholder="联系电话" class="fm13" id="telephone" name="telephone">
                            </div>
                        </label>
                        <label>
                        	<div class="fm_name1 fm_name3"><span>*</span>写字楼</div>
                            <div class="fm_input1 fm_input3">
                            	<input type="text" placeholder="写字楼名称" class="fm13" name="title">
                            </div>
                        </label>

                        <label>
                        	<input  type="button" id="submitButton" value="立即提交" class="fm10 fm16">
                        </label>
                    </form>
                </div>
                <!-- 20170606修改开始-->
                <script>
					function _change(_files){
						document.getElementById('showvalue').value = _files.value;
					}
					function _change1(_files){
						document.getElementById('showvalue1').value = _files.value;
					}
					function _change2(_files){
						document.getElementById('showvalue2').value = _files.value;
					}
					function _change3(_files){
						document.getElementById('showvalue3').value = _files.value;
					}
					function _change4(_files){
						document.getElementById('showvalue4').value = _files.value;
					}
				</script>
                <!-- 20170606修改结束-->
            </div>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
<script>
        jQuery("#h2").addClass("on");
        jQuery("#l21").addClass("on");
					jQuery(".sideMen").slide({titCell:".l1", targetCell:".l2",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click"});

$("#submitButton").click(function(){
        var telephone=$("#telephone").val();
        if(telephone.length!=11){
            $('#messageBox').dialogBox({
						hasClose: true,
						hasMask: true,
                        autoHide: true,
						time: 3000,
						title: '温馨提示',
						content: '手机号输入错误，请重新输入'
					});
            return;
        }
        $("#form").submit();
    });

</script>


</body>
</html>