<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:400px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <img src="images/banner4.jpg" width="1920" height="400"/>
		</div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
    	<div class="Careers_text">以下职位长期招聘，欢迎投递简历至：youwei@123.com</div>
    	<div class="Careers_tit">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="20">&nbsp;</td>
                <td width="217" align="left">职位名称</td>
                <td width="236">职位数量</td>
                <td width="242">学历</td>
                <td width="220">北京市</td>
                <td width="200">发布时间</td>
                <td width="85">&nbsp;</td>
              </tr>
            </table>
		</div>
    	<div class="sideMenu_2">
            <div class="t_940_1">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td width="217">总经理助理</td>
                    <td width="236">1</td>
                    <td width="242">本科及以上</td>
                    <td width="220">北京市</td>
                    <td width="200">2017-05-09</td>
                    <td width="85"><em></em></td>
                  </tr>
               </table>
            </div>
            <div class="l_940_1">
                <div class="l_613">
                    <h3>任职要求：</h3>
                    <div class="lp">
                      <p>
                        1. 本科以上学历，生物医学工程等相关专业背景，优先熟悉工业园区招商相关法律；<br/>
                        2. 有神经电生理实验经验者优先具有良好的工作心态和较强的抗压能力；<br/>
                        3. 乐观积极，为人正直，综合形象良好具有一定经验及能力方面特别有优势的可适当放宽年龄限制；<br/>
                        4. 具有较强的沟通能力和良好的客户服务意识具有独立的市场调研、具有敏锐的市场洞察力；<br/>
                        5. 具有较强的团队合作精神，良好的职业道德，有责任感，能吃苦耐劳，适应连续出差；<br/>
                        6. 能够拟定撰写合同文书，对合同法律条款有的一定的了解与认知具有良好的与人沟通的能力。<br/><br/>
                      </p>
                      <span style=" font-size:14px;">
                        招聘人数：2人<br/>
                        工作地点：吉林省 长春市
                      </span>
                   </div>
                </div>
                <div class="l_400">
                    <h3>岗位职责：</h3>
                    <div class="lp">
                        <p>1. 负责辖区内的技术支持与客户进行首轮报价、谈判；</p>
                        <p>2. 就招商实施过程中产生的相关问题与双方沟通；</p>
                        <p>3. 对合同法律条款有的一定的了解与认知。</p>
                    </div>
                    <a class="btn_3" href="#">申请职位</a>
                </div>
            </div>
            <div class="t_940_1">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td width="217">销售助理</td>
                    <td width="236">1</td>
                    <td width="242">本科及以上</td>
                    <td width="220">北京市</td>
                    <td width="200">2017-05-09</td>
                    <td width="85"><em></em></td>
                  </tr>
               </table>
            </div>
            <div class="l_940_1">
                <div class="l_613">
                    <h3>任职要求：</h3>
                    <div class="lp">
                      <p>
                        1. 本科以上学历，生物医学工程等相关专业背景，优先熟悉工业园区招商相关法律；<br/>
                        2. 有神经电生理实验经验者优先具有良好的工作心态和较强的抗压能力；<br/>
                        3. 乐观积极，为人正直，综合形象良好具有一定经验及能力方面特别有优势的可适当放宽年龄限制；<br/>
                        4. 具有较强的沟通能力和良好的客户服务意识具有独立的市场调研、具有敏锐的市场洞察力；<br/>
                        5. 具有较强的团队合作精神，良好的职业道德，有责任感，能吃苦耐劳，适应连续出差；<br/>
                        6. 能够拟定撰写合同文书，对合同法律条款有的一定的了解与认知具有良好的与人沟通的能力。<br/><br/>
                      </p>
                      <span style=" font-size:14px;">
                        招聘人数：2人<br/>
                        工作地点：吉林省 长春市
                      </span>
                   </div>
                </div>
                <div class="l_400">
                    <h3>岗位职责：</h3>
                    <div class="lp">
                        <p>1. 负责辖区内的技术支持与客户进行首轮报价、谈判；</p>
                        <p>2. 就招商实施过程中产生的相关问题与双方沟通；</p>
                        <p>3. 对合同法律条款有的一定的了解与认知。</p>
                    </div>
                    <a class="btn_3" href="#">申请职位</a>
                </div>
            </div>
            <div class="t_940_1">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td width="217">会计</td>
                    <td width="236">1</td>
                    <td width="242">本科及以上</td>
                    <td width="220">北京市</td>
                    <td width="200">2017-05-09</td>
                    <td width="85"><em></em></td>
                  </tr>
               </table>
            </div>
            <div class="l_940_1">
                <div class="l_613">
                    <h3>任职要求：</h3>
                    <div class="lp">
                      <p>
                        1. 本科以上学历，生物医学工程等相关专业背景，优先熟悉工业园区招商相关法律；<br/>
                        2. 有神经电生理实验经验者优先具有良好的工作心态和较强的抗压能力；<br/>
                        3. 乐观积极，为人正直，综合形象良好具有一定经验及能力方面特别有优势的可适当放宽年龄限制；<br/>
                        4. 具有较强的沟通能力和良好的客户服务意识具有独立的市场调研、具有敏锐的市场洞察力；<br/>
                        5. 具有较强的团队合作精神，良好的职业道德，有责任感，能吃苦耐劳，适应连续出差；<br/>
                        6. 能够拟定撰写合同文书，对合同法律条款有的一定的了解与认知具有良好的与人沟通的能力。<br/><br/>
                      </p>
                      <span style=" font-size:14px;">
                        招聘人数：2人<br/>
                        工作地点：吉林省 长春市
                      </span>
                   </div>
                </div>
                <div class="l_400">
                    <h3>岗位职责：</h3>
                    <div class="lp">
                        <p>1. 负责辖区内的技术支持与客户进行首轮报价、谈判；</p>
                        <p>2. 就招商实施过程中产生的相关问题与双方沟通；</p>
                        <p>3. 对合同法律条款有的一定的了解与认知。</p>
                    </div>
                    <a class="btn_3" href="#">申请职位</a>
                </div>
            </div>
            <div class="t_940_1">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td width="217">人事助理</td>
                    <td width="236">2</td>
                    <td width="242">本科及以上</td>
                    <td width="220">工作地点</td>
                    <td width="200">2017-05-09</td>
                    <td width="85"><em></em></td>
                  </tr>
               </table>
            </div>
            <div class="l_940_1">
                <div class="l_613">
                    <h3>任职要求：</h3>
                    <div class="lp">
                      <p>
                        1. 本科以上学历，生物医学工程等相关专业背景，优先熟悉工业园区招商相关法律；<br/>
                        2. 有神经电生理实验经验者优先具有良好的工作心态和较强的抗压能力；<br/>
                        3. 乐观积极，为人正直，综合形象良好具有一定经验及能力方面特别有优势的可适当放宽年龄限制；<br/>
                        4. 具有较强的沟通能力和良好的客户服务意识具有独立的市场调研、具有敏锐的市场洞察力；<br/>
                        5. 具有较强的团队合作精神，良好的职业道德，有责任感，能吃苦耐劳，适应连续出差；<br/>
                        6. 能够拟定撰写合同文书，对合同法律条款有的一定的了解与认知具有良好的与人沟通的能力。<br/><br/>
                      </p>
                      <span style=" font-size:14px;">
                        招聘人数：2人<br/>
                        工作地点：吉林省 长春市
                      </span>
                   </div>
                </div>
                <div class="l_400">
                    <h3>岗位职责：</h3>
                    <div class="lp">
                        <p>1. 负责辖区内的技术支持与客户进行首轮报价、谈判；</p>
                        <p>2. 就招商实施过程中产生的相关问题与双方沟通；</p>
                        <p>3. 对合同法律条款有的一定的了解与认知。</p>
                    </div>
                    <a class="btn_3" href="#">申请职位</a>
                </div>
            </div>
            <div class="t_940_1">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td width="217">技术总监</td>
                    <td width="236">1</td>
                    <td width="242">本科及以上</td>
                    <td width="220">北京市</td>
                    <td width="200">2017-05-09</td>
                    <td width="85"><em></em></td>
                  </tr>
               </table>
            </div>
            <div class="l_940_1">
                <div class="l_613">
                    <h3>任职要求：</h3>
                    <div class="lp">
                      <p>
                        1. 本科以上学历，生物医学工程等相关专业背景，优先熟悉工业园区招商相关法律；<br/>
                        2. 有神经电生理实验经验者优先具有良好的工作心态和较强的抗压能力；<br/>
                        3. 乐观积极，为人正直，综合形象良好具有一定经验及能力方面特别有优势的可适当放宽年龄限制；<br/>
                        4. 具有较强的沟通能力和良好的客户服务意识具有独立的市场调研、具有敏锐的市场洞察力；<br/>
                        5. 具有较强的团队合作精神，良好的职业道德，有责任感，能吃苦耐劳，适应连续出差；<br/>
                        6. 能够拟定撰写合同文书，对合同法律条款有的一定的了解与认知具有良好的与人沟通的能力。<br/><br/>
                      </p>
                      <span style=" font-size:14px;">
                        招聘人数：2人<br/>
                        工作地点：吉林省 长春市
                      </span>
                   </div>
                </div>
                <div class="l_400">
                    <h3>岗位职责：</h3>
                    <div class="lp">
                        <p>1. 负责辖区内的技术支持与客户进行首轮报价、谈判；</p>
                        <p>2. 就招商实施过程中产生的相关问题与双方沟通；</p>
                        <p>3. 对合同法律条款有的一定的了解与认知。</p>
                    </div>
                    <a class="btn_3" href="#">申请职位</a>
                </div>
            </div>
            <div class="t_940_1">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td width="217">销售助理</td>
                    <td width="236">2</td>
                    <td width="242">本科及以上</td>
                    <td width="220">北京市</td>
                    <td width="200">2017-05-09</td>
                    <td width="85"><em></em></td>
                  </tr>
               </table>
            </div>
            <div class="l_940_1">
                <div class="l_613">
                    <h3>任职要求：</h3>
                    <div class="lp">
                      <p>
                        1. 本科以上学历，生物医学工程等相关专业背景，优先熟悉工业园区招商相关法律；<br/>
                        2. 有神经电生理实验经验者优先具有良好的工作心态和较强的抗压能力；<br/>
                        3. 乐观积极，为人正直，综合形象良好具有一定经验及能力方面特别有优势的可适当放宽年龄限制；<br/>
                        4. 具有较强的沟通能力和良好的客户服务意识具有独立的市场调研、具有敏锐的市场洞察力；<br/>
                        5. 具有较强的团队合作精神，良好的职业道德，有责任感，能吃苦耐劳，适应连续出差；<br/>
                        6. 能够拟定撰写合同文书，对合同法律条款有的一定的了解与认知具有良好的与人沟通的能力。<br/><br/>
                      </p>
                      <span style=" font-size:14px;">
                        招聘人数：2人<br/>
                        工作地点：吉林省 长春市
                      </span>
                   </div>
                </div>
                <div class="l_400">
                    <h3>岗位职责：</h3>
                    <div class="lp">
                        <p>1. 负责辖区内的技术支持与客户进行首轮报价、谈判；</p>
                        <p>2. 就招商实施过程中产生的相关问题与双方沟通；</p>
                        <p>3. 对合同法律条款有的一定的了解与认知。</p>
                    </div>
                    <a class="btn_3" href="#">申请职位</a>
                </div>
            </div>
        </div>    
       <div class="wack1">
          <div class="pz_fy">
              <a href="#">&lt;</a>
              <a href="#" class="on">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">&gt;</a>
          </div> 
      </div>
   </div>
</div>
{% include "frontsite/foot.html" %}
<script>
jQuery(".sideMenu_2").slide({titCell:".t_940_1", targetCell:".l_940_1",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click",defaultPlay:false});
</script>
</body>
</html>