<!DOCTYPE html>  
<html lang="zh-cn">      
<head>          
<meta charset="utf-8">          
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">          
<meta name="title" content="">          
<meta name="keywords" content="">          
<meta name="description" content=""> 
<title>有为空间</title>
{% load static %}
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.SuperSlide.2.1.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/pzselect.1.0.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dialogbox.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.dialogBox.js" %}"></script>
    <script>
        function popWindow(){
            $('#messageBox').dialogBox({
						hasClose: true,
						hasMask: true,
                        autoHide: true,
						time: 3000,
						title: '温馨提示',
						content: '正在开发中，敬请期待'
					});
        }


    </script>
</head>
<body>
{% include "frontsite/head.html" %}
<div class="pz_banner">
    <div style="height:340px; position:relative;">
    	<div class="bann_bg"></div>
    	<div style=" position:absolute; width:1920px; left:50%; margin-left:-960px;">
            <img src="{% static "images/banner7.jpg" %}" width="1920" height="340">
		</div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1200">
    	<div class="Bus_Serv_List">
        	<ul>
            	<li>
                	<h1>企业策划</h1>
                    <p>企业策划包括企业的发展战略、盈利模式、运营模式、业务规划、营销策略、组织机构、财务预算等内容。</p>
                    <div class="bs_pic">
                         {% for service in services1 %}
                            <a href="/frontsite/service/{{ service.id }}"
                               {% if forloop.counter == 3 %}style=" border-right:none;" {% endif %}
                               {% if forloop.counter == 6 %}style=" border-right:none;" {% endif %}
                                {% if forloop.counter == 7 %}style=" border-bottom:none;" {% endif %}
                               {% if forloop.counter == 8 %}style=" border-bottom:none;" {% endif %}
                                {% if forloop.counter == 9 %}style=" border-right:none; border-bottom:none;" {% endif %}
                                >
                                <div class="bs_pic1">
                                    <img src="/static/images/{{ service.small_image }}" width="48" height="39" alt="" class="bs_pic1_1">
                                    <img src="/static/images/{{ service.small_image_color }}" width="48" height="39" alt="" class="bs_pic1_2">
                                </div>
                                <div class="bs_pic2">{{ service.service_name }}</div>
                                <div class="bs_pic3"></div>
                            </a>
                        {% endfor %}

                    </div>
                </li>
                <li>
                	<h1>运营支持</h1>
                    <p>企业策划包括企业的发展战略、盈利模式、运营模式、业务规划、营销策略、组织机构、财务预算等内容。</p>
                    <div class="bs_pic">
                    	{% for service in services2 %}
                            <a href="/frontsite/service/{{ service.id }}"
                               {% if forloop.counter == 3 %}style=" border-right:none;" {% endif %}
                               {% if forloop.counter == 6 %}style=" border-right:none;" {% endif %}
                                {% if forloop.counter == 7 %}style=" border-bottom:none;" {% endif %}
                               {% if forloop.counter == 8 %}style=" border-bottom:none;" {% endif %}
                                {% if forloop.counter == 9 %}style=" border-right:none; border-bottom:none;" {% endif %}
                                >
                                <div class="bs_pic1">
                                    <img src="/static/images/{{ service.small_image }}" width="48" height="39" alt="" class="bs_pic1_1">
                                    <img src="/static/images/{{ service.small_image_color }}" width="48" height="39" alt="" class="bs_pic1_2">
                                </div>
                                <div class="bs_pic2">{{ service.service_name }}</div>
                                <div class="bs_pic3"></div>
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li style=" margin-right:0; padding-right:0; border-right:none;">
                	<h1>配套共赢</h1>
                    <p>企业策划包括企业的发展战略、盈利模式、运营模式、业务规划、营销策略、组织机构、财务预算等内容。</p>
                    <div class="bs_pic">
                    	{% for service in services3 %}
                            <a href="/frontsite/service/{{ service.id }}"
                               {% if forloop.counter == 3 %}style=" border-right:none;" {% endif %}
                                {% if forloop.counter == 4 %}style=" border-bottom:none;" {% endif %}
                                >
                                <div class="bs_pic1">
                                    <img src="/static/images/{{ service.small_image }}" width="48" height="39" alt="" class="bs_pic1_1">
                                    <img src="/static/images/{{ service.small_image_color }}" width="48" height="39" alt="" class="bs_pic1_2">
                                </div>
                                <div class="bs_pic2">{{ service.service_name }}</div>
                                <div class="bs_pic3"></div>
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include "frontsite/foot.html" %}
<div id="messageBox"></div>
</body>
</html>