<div class="navbar-fixed-top blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {% if nav_flag == 1 %}active{% else %}{% endif %}" href="/polls/index">首页</a>
            <a class="blog-nav-item {% if nav_flag == 2 %}active{% else %}{% endif %}" href="/polls/buildinglist/c0s0a0p0/">写字楼</a>
            <a class="blog-nav-item {% if nav_flag == 3 %}active{% else %}{% endif %}" href="/polls/rentlist/c0s0r0a0t0">租房</a>
            <a class="blog-nav-item {% if nav_flag == 4 %}active{% else %}{% endif %}" href="/polls/services">商业服务</a>
            <a class="blog-nav-item {% if nav_flag == 5 %}active{% else %}{% endif %}" href="/polls/aboutus">关于我们</a>
        </nav>
    </div>
</div>